@font-face {
  font-family: 'HelveticaCE55RomanBold';
  src: url('/assets/helvetica_neue_ce_75_bold-webfont.eot');
  src: local('?'), url('/assets/helvetica_neue_ce_75_bold-webfont.woff') format('woff'), url('/assets/helvetica_neue_ce_75_bold-webfont.ttf') format('truetype'), url('/assets/helvetica_neue_ce_75_bold-webfont.svg#HelveticaCE55RomanBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT45LightRegular';
  src: url('/assets/stylesheets/fonts/helvetica_lt_45_light-webfont.eot');
  src: local('?'), url('/assets/stylesheets/fonts/helvetica_lt_45_light-webfont.woff') format('woff'), url('/assets/helvetica_lt_45_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT43LightExRg';
  src: url('/assets/helvetica_lt_43_light_extended-webfont.eot');
  src: local('?'), url('/assets/helvetica_lt_43_light_extended-webfont.woff') format('woff'), url('/assets/helvetica_lt_43_light_extended-webfont.ttf') format('truetype'), url('/assets/helvetica_lt_43_light_extended-webfont.svg#') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniSansSemiBoldRegular';
  src: url('/assets/uni-sans-semibold-webfont.eot');
  src: local('?'), url('/assets/uni-sans-semibold-webfont.woff') format('woff'), url('/assets/uni-sans-semibold-webfont.ttf') format('truetype'), url('/assets/uni-sans-semibold-webfont.svg#UniSansSemiBoldRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT55RomanRegular';
  src:  url('/assets/helvetica_lt_55_roman-webfont.eot');
  src:  url('/assets/helvetica_lt_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/helvetica_lt_55_roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'HelveticaNeueLT23UltLtExRg';
  src: url('/assets/helvetica_lt_23_ultra_light_extended-webfont.eot');
  src: url('/assets/helvetica_lt_23_ultra_light_extended-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/helvetica_lt_23_ultra_light_extended-webfont.woff') format('woff'),
       url('/assets/helvetica_lt_23_ultra_light_extended-webfont.ttf') format('truetype'),
       url('/assets/helvetica_lt_23_ultra_light_extended-webfont.svg#HelveticaNeueLT23UltLtExRg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'HelveticaCE55RomanRegular';
  src: url('/assets/helvetica_neue_ce_55_roman-webfont.eot');
  src: url('/assets/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/helvetica_neue_ce_55_roman-webfont.woff') format('woff'),
       url('/assets/fonts/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype'),
       url('/assets/helvetica_neue_ce_55_roman-webfont.svg#HelveticaCE55RomanRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Resetter */

*{margin:0;padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; vertical-align:middle;}
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img, a:hover img { border:none; }
h1,h2,h3,h4,h5,h6 { margin:0px 0px 0px 0px; padding:0px; font-weight:normal; }
a { cursor:pointer; outline:none;color:black; text-decoration:none;}
a:hover { text-decoration:underline; }
.clear { clear:both; margin:0px; padding:0px; height:0px; line-height:0; font-size:0; }
.left { float:left; width:auto; border:none; }
.right { float:right; }
.center { text-align:center; }
strong{font-weight:bold;}
small{font-size:10px; color:white;}
.clear { clear: both; }

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

html, body{
  height:100%;
}

body {
  background: #FFFFFF;
  font-family: "HelveticaNeue, HelveticaCE55RomanRegular, Arial,sans serif";
  margin: 0 auto;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}


/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
	width:41px;
}

.container_16 .grid_2 {
	width:102px;
}

.container_16 .grid_3 {
	width:163px;
}

.container_16 .grid_4 {
	width:224px;
}

.container_16 .grid_5 {
	width:285px;
}

.container_16 .grid_6 {
	width:346px;
}

.container_16 .grid_7 {
	width:407px;
}

.container_16 .grid_8 {
	width:468px;
}

.container_16 .grid_9 {
	width:529px;
}

.container_16 .grid_10 {
	width:590px;
}

.container_16 .grid_11 {
	width:651px;
}

.container_16 .grid_12 {
	width:712px;
}

.container_16 .grid_13 {
	width:773px;
}

.container_16 .grid_14 {
	width:834px;
}

.container_16 .grid_15 {
	width:895px;
}

.container_16 .grid_16 {
	width:956px;
}


.no_margin_right { margin-right: 0px !important; }
.no_margin_left { margin-left: 0px !important; }
.no_margin_top { margin-top: 0px !important; }
.no_margin_bottom { margin-bottom: 0px !important; }
.no_padding_right { padding-right: 0px !important; }
.no_padding_left { padding-left: 0px !important; }
.no_padding_top { padding-top: 0px !important; }
.no_padding_bottom { padding-bottom: 0px !important; }

/* Header
----------------------------------------------------------------------------------------------------*/

.wraper{
  margin-bottom: 95px;
  min-height: 100%;}