.people_search_result{
  z-index:20;}

.update_icon{
  background: url("/assets/update-icon-notactive.png") no-repeat 0 0 transparent;
  width:17px;
  height:20px;
  vertical-align: middle;}


.r-notification-tab-active .update_icon{
  background-image: url("/assets/update-icon-active.png");}

.r-notification-tab{
  color: #FFFFFF;
  font-family: "UniSansSemiBoldRegular","HelveticaCE55RomanRegular, Arial,sans serif";
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  margin-right: -8px;}

.update_text{
  display:none;
  vertical-align: middle;
  padding-right:8px;}

.r-notification-tab-active .update_text{

  display: inline-block;}


.previous_icon a:hover, .next_icon a:hover , .top_button a:hover , .side-left a:hover,
.messages_right_path a:hover, .previous_people2 a:hover, .about_top a:hover{ text-decoration: none}



.main-registration-form-field-alert label, .main-forgot-password-form-field-alert label, .main-change-password-form-field-alert label{
  float: none;
  font-family: "HelveticaNeue","HelveticaCE55RomanRegular,Arial,sans serif";
  font-size: 12px;
  line-height: 14px;}

.main-registration-form-field-alert .error, .main-forgot-password-form-field-alert .error, .main-change-password-form-field-alert .error{
  color: #E24C4B;}


.alert-message {
  background-color: #EEDC94;
  background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #404040;
  margin-bottom: 18px;
  padding: 7px 15px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}

.btn.danger, .alert-message.danger, .btn.danger:hover, .alert-message.danger:hover, .btn.error, .alert-message.error, .btn.error:hover, .alert-message.error:hover, .btn.success, .alert-message.success, .btn.success:hover, .alert-message.success:hover, .btn.info, .alert-message.info, .btn.info:hover, .alert-message.info:hover {
  color: #FFFFFF;}

.btn.danger, .alert-message.danger, .btn.error, .alert-message.error {
  background-color: #C43C35;
  background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}

.btn.info, .alert-message.info {
  background-color: #339BB9;
  background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}

.alert-message ul{
  font-size: 0.9em;
  padding: 0 0 0 15px;}

.alert-message h1{
  font-size: 1em;}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.global-alert{
  opacity: 0.8;
  position: fixed;
  right: 5%;
  top: 15px;}

.pp_people_block { display: block;}

.invisible-2{
  height: 0 !important;
  padding: 0 !important;
  width: 0 !important;}

.uploadifyQueue{
  margin: 10px 0;}

.uploadifyQueue .uploadifyQueueItem{
  margin-bottom: 20px;
  position: relative;}

.uploadifyQueue .uploadifyQueueItem .cancel{
  left: 270px;
  position: absolute;
  top: 5px;}

.uploadifyQueue .uploadifyQueueItem .fileName{
  color: #FFFFFF;
  font-size: 12px;
  left: 310px;
  position: absolute;
  top: 4px;}

.uploadifyQueue .uploadifyQueueItem .percentage{
  display:none;}

.uploadifyQueue .uploadifyQueueItem .uploadifyProgress{
  background: url("/assets/loading-avatar.png") no-repeat scroll 0 0 transparent;
  height: 25px;
  width: 291px;}

.uploadifyQueue .uploadifyQueueItem .uploadifyProgress .uploadifyProgressBar{
  background: none repeat scroll 0 0 #22A8B0;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  height: 25px;}

.attach_image{
  background: none repeat scroll 0 0 #FFFFFF;}

.upload_media_bottom, .image_upload_path_style{
  float:none;}


.find-maps-holder{
  display: inline-block;
  vertical-align: top;}

.find-maps-holder .jcarousel-skin-tango{
  position: absolute;
  overflow: hidden;
  height:0;}

.find-maps-holder .jcarousel-skin-tango .jcarousel-container-horizontal{
  background: none repeat scroll 0 0 #A0B2B3;
  border: medium none;
  border-radius: 0 5px 5px 5px;
  margin-left: 5px;
  margin-top: -1px;}

.find-maps-holder .jcarousel-skin-tango .jcarousel-item{
  width:235px;
  height:75px;
  cursor:pointer;}

.find-maps-holder .jcarousel-skin-tango .jcarousel-item-placeholder{
  background:url("ajax-loader.gif") no-repeat center center transparent;}

.find-maps-list-img{
  width:100px;
  height:75px;
  display:inline-block;
  vertical-align:top;
  margin-right:10px}

.find-maps-list-label{
  color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  width: 125px;}

.no-float{
  float:none !important;}

.close-find_maps{
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 30;}

.icon{
  display:inline-block;}

.icon-colorbox-close{
  background: url("/assets/closelabel.png") no-repeat 0 0 transparent;
  width:14px;
  height:14px;}

.jot-map-thumb{
  float:left;}

.add_location_info{
  padding-top:0;}

.jot-find-location .jcarousel-container-horizontal {
  width: 518px !important;
  margin-top:10px !important;}

.jot-find-location .jcarousel-clip-horizontal{
  width: 520px !important;}

.jot-find-location .jcarousel-container{
  background: #24B0B9;}

.jot-find-location .jcarousel-item {
  height: 75px;
  width: 235px;}


.show-more-list{
  background: none repeat scroll 0 0 #EBEDEF;
  border-radius: 5px 5px 5px 5px;
  color: #007E86;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 15px;
  text-align: center;}

.jot-title-heading { margin-bottom: 13px; margin-top: 20px}
.jot-title-heading h2 {
  color: #333333;
  float: left;
  font-family: "HelveticaNeue Bold","HelveticaNeue CE 55 Roman",Arial,sans serif;
  font-size: 22px;
}
.jot-title-heading h2 a{
  color: #2BA4AB;

}
.upper_label {
  color: #999999;
  float: right;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 0 0 10px;
}

.upper_pannel_jots {
  background: none repeat scroll 0 0 #F2F5F5;
  border-radius: 5px 5px 0 0;
  float: right;
  padding: 6px;
  width: 440px;
}
.lower_pannel_jots {background: none repeat scroll 0 0 #F2F5F5;
                    border-radius: 0 0 5px 5px ;
                    float: right;
                    padding: 6px;
                    width: 440px;}

.lower_pannel_jots li {
  float: left;
  margin-right: 10px;
}
.upper_pannel_jots li {
  float: left;
  margin-right: 10px;
}

.upper_new_jots  .dateJots {
  color: #999999;
  font-size: 11px; float: left;
  padding-top: 13px;
}

.heading-jots-attach { margin-bottom: 13px;}

.heading-jots-attach h4 { font-size: 12px; float: left; color: #999999; padding-top: 11px; padding-left: 10px}

.triangle_inbox_right {
  background: url("/assets/sprite.png") no-repeat scroll -470px -271px transparent;
  bottom: -17px;
  float: right;
  height: 16px;
  left: -4px;
  position: relative;
  width: 16px;
}
.right_reply { margin-right: 60px}
.reply_list { margin-top:10px; margin-right: 10px}
.content-jots {width:510px}

.people_comments p { font-weight: normal;}
.time_com { margin-right: 15px}


.username input[type="text"].error, .password input[type="password"].error, textarea.error{
  background:#E77471}


.magicbox-login-alert{
  padding: 0 68px 0 16px;}

.header_fav_active{
  background-position: -211px -25px !important;}

.jot_detail_left img{
  width:auto;
  height:auto;}

#process-stat{
  background: none repeat scroll 0 0 #EBEDEF;
  color: #007E86;
  left: 0;
  opacity: 0.6;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index:9999999;}

.show-hide-edit-panel input, .show-hide-edit-panel textarea{
  background: none repeat scroll 0 0 #EEEEEE;
  border: medium none;
  border-radius: 5px 5px 5px 5px;
  color: #3B999F;
  font-family: "HelveticaNeue","HelveticaCE55RomanRegular",Arial,sans serif;
  font-size: 17px;
  padding-left: 5px;
  width: 340px;
  display: block;
  resize:none;}

.show-hide-edit-panel  label.error{
  color: #EEEEEE;
  font-size: 12px;
  padding-left: 5px;}

.show-hide-edit-panel .user-info{
  font-size: 14px;
  font-family: arial}

#magicbox-setting-content input.error{
  background:#FFB6C1}

.portlet_tosca .img_right{
cursor:pointer;}

.rename_popup, .delete_popup, .add_group_popup{
position:static;}

form input.error{
background:#FFB6C1;}
