<%= render 'shared/magicbox' %>

<div id="r-nest-mode" class="nest_mode_path middle_content">
  <div class="hot_stuff_text_icon">
    <span class="nest_mode_icon">&nbsp;</span>
    <span class="nest_mode_text">Nest</span>
    <span class="clear"></span>
  </div>
  <div class="nest_manager_path">
    <div class="nest_manager_head">
      <ul>
        <li class="nest_group_text">
          <span class="nest_li_text">Group</span>
          <span class="nest_separator">&nbsp;</span>
        </li>
        <li class="nest_title_text">
          <span class="nest_li_text">Title</span>
          <span class="nest_separator">&nbsp;</span>
        </li>
        <li class="nest_title_text">
          <span class="nest_li_text">Search</span>
        </li>
      </ul>
    </div>
    <div class="nest_movies_path">
      <div class="movies_path_left">
        <div class="movies_path_top">Movies</div>
        <div class="movies_path_middle">
          <span class="nest_group_middle_icon on_off">&nbsp;</span>
          <span class="nest_group_middle_notactive">Nest OFF</span>
          <span class="nest_group_middle_active">Nest ON</span>
        </div>
        <div class="movies_path_bottom">
          <ul>
            <li class="renames">
              <a href="" class="rename_idle">Aa</a>
            </li>
            <li>
              <a href="" class="delete">
                <span class="">&nbsp;</span>
              </a>
            </li>
            <li class="no_border_right">
              <a href="" class="magnifier">
                <span class="">&nbsp;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="movies_path_right">
        <ul>
          <li class="li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">Theatre Schedule</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">Movies > Cineplex > StudioX</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
          <li class="li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">New Movies</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">Movies > BoxOffice > NewRelease</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
          <li class="li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">Top 20 Indo Movies</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">Movies > Indonesian > IndoMovieFestival > Top20Indo  >  AlltimeWinner</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
          <li class="no_margin_bottom li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">ComingSoonMovie 2012</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">Movies > BoxOffice > ComingSoon</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="rename_popup">
          <div class="want_delete_white">
            <a href="" class="top_blue_popup">Movies</a>
            <p>Rename this group as:</p>
            <input type="text" value="MovieHits 2011" class="rename_nest" />
            <span class="ok_no_button">
              <a class="cancel_tab" href="">Cancel</a>
              <a href="" class="but_save_popup">Save</a>
            </span>
          </div>
        </div>
        <div class="delete_popup">
          <div class="want_delete_white">
            <a href="" class="top_blue_popup">Movies</a>
            <p>Delete this group?</p>
            <span class="ok_no_button">
              <a class="delete_tab" href="">Delete</a>
              <a href="" class="but_save_popup">Save</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="nest_movies_path">
      <div class="movies_path_left">
        <div class="movies_path_top">Tech Blog</div>
        <div class="movies_path_middle">
          <span class="nest_group_middle_icon on_off">&nbsp;</span>
          <span class="nest_group_middle_notactive">Nest OFF</span>
          <span class="nest_group_middle_active">Nest ON</span>
        </div>
        <div class="movies_path_bottom">
          <ul>
            <li class="renames">
              <a href="" class="rename_idle">Aa</a>
            </li>
            <li>
              <a href="" class="delete">
                <span class="">&nbsp;</span>
              </a>
            </li>
            <li class="no_border_right">
              <a href="" class="magnifier">
                <span class="">&nbsp;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="movies_path_right">
        <ul>
          <li class="li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">API</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">Techcrunch  >  Developers  >  API</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
          <li class="li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">Social Media trend</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">SocialMedia  >  News  >  Buzz</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
          <li class="no_margin_bottom li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">HTML5</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">HTML  >  Developers  >  HTML5</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="rename_popup">
          <div class="want_delete_white">
            <a href="" class="top_blue_popup">Movies</a>
            <p>Rename this group as:</p>
            <input type="text" value="MovieHits 2011" class="rename_nest" />
            <span class="ok_no_button">
              <a class="cancel_tab" href="">Cancel</a>
              <a href="" class="but_save_popup">Save</a>
            </span>
          </div>
        </div>
        <div class="delete_popup">
          <div class="want_delete_white">
            <a href="" class="top_blue_popup">Movies</a>
            <p>Delete this group?</p>
            <span class="ok_no_button">
              <a class="delete_tab" href="">Delete</a>
              <a href="" class="but_save_popup">Save</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="nest_movies_path">
      <div class="movies_path_left">
        <div class="movies_path_top">Graphic Design</div>
        <div class="movies_path_middle">
          <span class="nest_group_middle_icon on_off">&nbsp;</span>
          <span class="nest_group_middle_notactive">Nest OFF</span>
          <span class="nest_group_middle_active">Nest ON</span>
        </div>
        <div class="movies_path_bottom">
          <ul>
            <li class="renames">
              <a href="" class="rename_idle">Aa</a>
            </li>
            <li>
              <a href="" class="delete">
                <span class="">&nbsp;</span>
              </a>
            </li>
            <li class="no_border_right">
              <a href="" class="magnifier">
                <span class="">&nbsp;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="movies_path_right">
        <ul>
          <li class="li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">PSD Tutorials</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">Techcrunch  >  Developers  >  API</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
          <li class="li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">Photography</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">SocialMedia  >  News  >  Buzz</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
          <li class="no_margin_bottom li_movies">
            <div class="left_title">
              <span class="left_img img_2">&nbsp;</span>
              <span class="nest_title">Inspiration</span>
              <div class="nest_menu_hide action_menu_hide">
                <ul>
                  <li class="nest_hide_style">
                    <a class="delete_hide" href="">
                      <label>delete</label>
                      <span class="delete_icon">&nbsp;</span>
                    </a>
                  </li>
                  <li class="nest_hide_style">
                    <a href="" class="comment_flag">
                      <label class="nest_label_style">rename</label>
                      <label class="nest_label_style">Aa</label>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="" class="nest_down_icon comment_down_arrow">&nbsp;</a>
            </div>
            <a href="">
              <div class="nest_right_content right_content">
                <div class="input_nest_static">
                  <span class="width_category">HTML  >  Developers  >  HTML5</span>
                  <span class="nest_magnifier_style nest_magnifier_icon">&nbsp;</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="rename_popup">
          <div class="want_delete_white">
            <a href="" class="top_blue_popup">Movies</a>
            <p>Rename this group as:</p>
            <input type="text" value="MovieHits 2011" class="rename_nest" />
            <span class="ok_no_button">
              <a class="cancel_tab" href="">Cancel</a>
              <a href="" class="but_save_popup">Save</a>
            </span>
          </div>
        </div>
        <div class="delete_popup">
          <div class="want_delete_white">
            <a href="" class="top_blue_popup">Movies</a>
            <p>Delete this group?</p>
            <span class="ok_no_button">
              <a class="delete_tab" href="">Delete</a>
              <a href="" class="but_save_popup">Save</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- BUILDING NEST -->
  <div id="r-building-nest">
    <div class="hot_stuff_text_icon">
      <span class="nest_mode_icon">&nbsp;</span>
      <span class="nest_mode_text">Nest</span>
      <span class="clear"></span>
    </div>
    <div class="nest_manager_path">
      <div class="nest_manager_head">
        <ul>
          <li class="nest_group_text">
            <span class="nest_li_text">Group</span>
            <span class="nest_separator">&nbsp;</span>
          </li>
          <li class="nest_title_text">
            <span class="nest_li_text">Title</span>
            <span class="nest_separator">&nbsp;</span>
          </li>
          <li class="nest_title_text">
            <span class="nest_li_text">Search</span>
          </li>
        </ul>
      </div>
      <div class="add_group">
        <a href="">+ Add Group</a>
      </div>

    </div>
    <div class="add_group_popup">
      <div class="want_delete_white">
        <p>Add new group</p>
        <input type="text" value="Movies" class="rename_nest" />
        <span class="ok_no_button">
          <a class="cancel_tab" href="">Cancel</a>
          <a href="" class="empty_nest_click but_save_popup">Save</a>
        </span>
      </div>
    </div>
    <div class="nest_empty_group">
      <div class="nest_movies_path">
        <div class="movies_path_left">
          <div class="movies_path_top">Movies</div>
          <div class="movies_path_middle">
            <span class="nest_group_middle_icon on_off">&nbsp;</span>
            <span class="nest_group_middle_notactive">Nest OFF</span>
            <span class="nest_group_middle_active">Nest ON</span>
          </div>
          <div class="movies_path_bottom">
            <ul>
              <li class="renames">
                <a href="" class="rename_idle">Aa</a>
              </li>
              <li>
                <a href="" class="delete">
                  <span class="">&nbsp;</span>
                </a>
              </li>
              <li class="no_border_right">
                <a href="" class="magnifier">
                  <span class="">&nbsp;</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="empty_nest_bg movies_path_right">
          <a href="">
            <span class="empty_nest_info">your nest is empty, start searching for contents</span>
            <span class="white_big_magnifier">&nbsp;</span>
          </a>
        </div>
      </div>
      <div class="add_group_bottom">
        <a href="">+ Add Group</a>
      </div>
    </div>
  </div>
  <!-- END OF BUILDING NEST -->




  <div class="clear"></div>

</div>
