<div class="left_menu grid_2">&nbsp;
  <div class="side-left">
    <ul>
      <li class="leftMenu_searchResult">
        <a href="" onmouseout="heal()" class="side-menu-top-left">
          <label>Jots&nbsp;</label>
          <span class="jots-icon">&nbsp;</span>
        </a>
        <span class="triangle" style="display:none" onmouseout="heal()">&nbsp;</span>
      </li>
      <li class="leftMenu_searchResult">
        <a href="" onmouseout="heal()" >
          <label>People&nbsp;</label>
          <span class="people-icon">&nbsp;</span>
        </a>
        <span class="triangle" style="display:none" onmouseout="heal()">&nbsp;</span>
      </li>
      <li class="leftMenu_searchResult">
        <a href="" onmouseout="heal()" >
          <label>Media&nbsp;</label>
          <span class="media-icon">&nbsp;</span>
        </a>
        <span class="triangle" style="display:none" onmouseout="heal()">&nbsp;</span>
      </li>
      <li class="leftMenu_searchResult">
        <a href="" onmouseout="heal()" class="side-menu-bottom-left">
          <label>Places&nbsp;</label>
          <span class="places-icon">&nbsp;</span>
        </a>
        <span class="triangle" style="display:none" onmouseout="heal()">&nbsp;</span>
      </li>
    </ul>
  </div>
</div>
<div class="main_content grid_11">
  <div class="top_button">
    <div class="left">
      <a href="logged_page.html" class="search_icon">
        <span class="img_1"></span>
        <span class="search_text">Search</span>
        <span class="img_2"></span>
      </a>
      <a href="" class="jot_icon">
        <span class="img_1"></span>
        <span class="jot_text">Jot</span>
        <span class="img_2"></span>
      </a>
    </div>
    <div class="right">
      <a href="" class="new_update_path">
        <span class="update_icon">&nbsp;</span>
        <span class="new_up_text">24 New Updates</span>
      </a>
      <a href="" class="sign_up" id="user_logged">
        <img src="/assets/little-avatar.png" alt="" />
        <span class="nickname_logged">MetroFx</span>
        <span class="user_little_badge">0</span>
      </a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="search">
    <input type="text" value="Tags, places, users, search from them here!"/>
    <input type="submit" value="" id="gray_search" />
    <div class="clear"></div>
  </div>

  <!-- START OF SEARCH CONTENT -->
  <div class="search_tab main_content">
    <div class="search_box">
      <div class="breadcrumb_search">
        <ul>
          <li>
            <a href="">Music</a>
            <span>&gt;</span>
            <a href="">Jazz</a>
            <span>&gt;</span>
            <a href="">Fourplay</a>
          </li>
        </ul>
      </div>
      <div class="search_results">
        <div class="left_arrow"></div>
        <div class="search_resultsContent">
          <div class="level_1">
            <ul>
              <li class="Lev_1">
                <span class="choice_text">Fourplay</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_1">
                <span class="choice_text">Incognito</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_1 no_padding_right">
                <span class="choice_text">Chaka</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="level_2">
            <ul>
              <li class="Lev_2">
                <span class="choice_text">Pop</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Jazz</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Rock</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Dance</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2 no_padding_right">
                <span class="choice_text">Folks</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="level_3">
            <ul>
              <li class="Lev_3">
                <span class="choice_text">Food</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Sports</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Fashion</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Music</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3 no_padding_right">
                <span class="choice_text">Books</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right_arrow"></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- END OF SEARCH CONTENT -->

  <!-- START MAIN CONTENT OF SEARCH RESULT LOGGED -->

  <div class="searchResult_content_logged middle_content">
    <div>
      <div class="search_result_heading">
        <span class="blue_magnifier">&nbsp;</span>
        <h2>Search Result for "...> Fourplay"</h2>
        <div class="clear"></div>
      </div>
      <div class="search_result_subheading">
        <ul class="result_filter">
          <li>
            <a href="#" class="local_links active">Most Popular</a>
          </li>
          <li class="dot_separator local_links active">.</li>
          <li>Latest</li>
        </ul>
        <ul class="result_location">
          <li>showing results in</li>
          <li>
            <a href="#" class="local_links">Jakarta,</a>
            <a href="#" class="local_links">Indonesia</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="search_result_container">
      <div class="people_post">
        <div class="header_result">
          <img src="/assets/avatar.png" alt=""/>
          <span>MetroFX</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="thumbs_ups">
              <a href="#"><span class="thumbs_up"></span>7777</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>65</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="refresh">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="down-sign"></div>
        <div class="clear"></div>
      </div>

      <div class="container-result">
        <h2><strong>Fourplay</strong> live in concert!</h2>
        <p class="hour">5 hours ago</p>
        <div class="post">
          <span class="post-icon">&nbsp;</span>
          <p>
            In accordance with our <strong>Jazz </strong>Comment <strong>music </strong>Policy, we encourage
            comments that are on topic, relevant and to-the-point. We will
            remove comments that include profanity, <strong>Jazz </strong>personal attacks,
            racial slurs, threats of violence, or other inappropriate
            material that violates our Terms and Conditions, and......
          </p>
          <a href="#" class="more">More</a>
        </div>

        <div class="attach">
          <span>&nbsp;</span>
          <div>
            <img src="/assets/video.jpg" alt="video"/>
          </div>
          <div id="video-detail">
            <span class="multimedia">&nbsp;</span>
            <p class="video-title">Fourplay feat. Chaka Khan "Between The Sheets" (live)</p>
            <div class="clear"></div>
            <p class="video-detail">A <strong>Jazz </strong>Evening of Fourplay <br/>(Bob James, Lee Ritenour, </p>
            <a href="#" class="link">http://youtube.com/watch?wjfi2i</a>
            <div class="clear"></div>
            <p class="uploaded">uploaded via youtube</p>
          </div>
        </div>

        <div class="tag-incognito">
          <span class="tag-incognito-icon">&nbsp;</span>
          <div class="button_tag">
            <ul>
              <li>
                <span class="button_tagText">Fourplay</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Jazz</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Concert</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>

        <div class="comment">
          <span class="comment-icon">&nbsp;</span>
          <div class="comment_line">
            <div class="left">
              <ul>
                <li class="left"><a href="#">16 comments</a></li>
                <li class="left">.</li>
                <li class="left"><a href="#">View all</a></li>
              </ul>
            </div>
            <div class="right">
              <ul>
                <li class="left"><a href="#">Newest</a></li>
                <li class="left">.</li>
                <li class="no_margin_right left"><a href="">oldest</a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
          <div class="comment-content" id="scrollbar1">
            <div class="scrollbar">
              <div class="track">
                <div class="thumb">
                  <div class="end">
                  </div>
                </div>
              </div>
            </div>
            <div class="viewport">
              <div class="overview">
                <ul>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/abdu-avatar.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Abduzeedo</span><span class="right time">3 hour ago</span>
                      <div class="clear"></div>
                      <p>man, please re-up the link. seems it was deleted :( </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">2 hour ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@Abduzeedo </a>re-uploaded, enjoy! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avata-calichan.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Calichan2</span><span class="right time">45 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/abdu-avatar.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Abduzeedo</span><span class="right time">5 seconds ago</span>
                      <div class="clear"></div>
                      <p>it works! thanks! :D </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avata-calichan.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Calichan2</span><span class="right time">45 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/abdu-avatar.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Abduzeedo</span><span class="right time">3 hour ago</span>
                      <div class="clear"></div>
                      <p>man, please re-up the link. seems it was deleted :( </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">2 hour ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@Abduzeedo </a>re-uploaded, enjoy! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avata-calichan.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Calichan2</span><span class="right time">45 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/abdu-avatar.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Abduzeedo</span><span class="right time">5 seconds ago</span>
                      <div class="clear"></div>
                      <p>it works! thanks! :D </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avata-calichan.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Calichan2</span><span class="right time">45 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="comment_pagiantion">
          <ul>
            <li class="activePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>


    <div class="search_result_container">
      <div class="people_post">
        <div class="header_result">
          <img src="/assets/jazzy-avatar.png" alt=""/>
          <span>JazzyJazz</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li>
              <a href="#"><span class="thumbs_up"></span>734</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>2</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="refresh">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="down-sign"></div>
        <div class="clear"></div>
      </div>
      <div class="container-result">
        <h2>Best<strong>Jazz</strong> related tags, collect them!</h2>
        <p class="hour">6 hours ago</p>
        <div class="tag-incognito">
          <span class="tag-incognito-icon">&nbsp;</span>

          <div class="button_tag">
            <ul>
              <li>
                <span class="button_tagText">Fourplay</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Jazz</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Music</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Incognito</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>

        <div class="comment">
          <span class="comment-icon">&nbsp;</span>
          <div class="comment_line">
            <div class="left">
              <ul>
                <li class="left"><a href="#">16 comments</a></li>
                <li class="left">.</li>
                <li class="left"><a href="#">View all</a></li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="more_ResultContent">
      <input type="submit" value="More Result" />
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- END OF MAIN CONTENT OF SEARCH RESULT LOGGED -->

  <!-- EMPTY PROFILE -->

  <div class="parent_empty_profile main_content">
    <div class="empty_profile">
      <div class="about">
        <div class="about_top_content">
          <div class="left">
            <a href="#change_avatar" class="about_avatar" rel="facebox">&nbsp;</a>
            <!-- FOR EXAMPLE POPUP -->
            <!-- <a href="#loading_avatar" class="about_avatar" rel="facebox">&nbsp;</a> -->
            <!-- <a href="#crop_avatar" class="about_avatar" rel="facebox">&nbsp;</a> -->
          </div>
          <div class="left">
            <div class="big_badge">0</div>
            <div class="nickname_realname">
              <span class="nickname">MetroFx</span>
              <br class="clear" />
              <span class="realname">Eko Prasetyo</span>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="about_link">
          <span>0 Tags</span>
          <span class="no_margin_left">0 Jots</span>
          <span class="no_margin_left">0 Follows</span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="bio">
        <div class="bio_tag">
          <span>Bio</span>
          <a href="" class="empty_bio_text">click to edit your bio</a>
          <form action="" class="empty_bio_field">
            <div>
              <input type="text" value="write your short bio here max 512 character" />
              <input type="submit" class="but_save_popup" value="save" />
            </div>
          </form>
        </div>
        <div class="url_tag">
          <span>URL</span>
          <a href="" class="empty_url_text">click to edit your URL</a>
          <form action="" class="empty_url">
            <div>
              <input type="text" value="your URL" class="empty_url_field" />
              <input type="submit" class="but_save_popup" value="Save" />
            </div>
          </form>
        </div>
        <div class="clear"></div>
      </div>
      <div class="location">
        <div class="left">
          <span class="location_text">Location</span>
          <a href="" class="empty_location_text">click to edit your location</a>
          <form action="" class="empty_location_field">
            <div>
              <input type="text" value="Jakarta" id="location_field" class="active_text_field empty_url_field" />
              <input type="submit" class="but_save_popup" value="save" />
            </div>
          </form>
          <div class="map_area">
            <ul>
              <li>
                <a href="" class="map_location">
                  <span class="left">
                    <img src="/assets/first-map.png" alt="" />
                  </span>
                  <span class="place">
                    <span>&nbsp;</span>
                    <span>Jakarta Capital Region,</span>
                    <span>Indonesia</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="" class="map_location">
                  <span class="left">
                    <img src="/assets/second-map.png" alt="" />
                  </span>
                  <span class="place">
                    <span>Jakarta,</span>
                    <span>Jakarta Capital Region,</span>
                    <span>Indonesia</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="map">&nbsp;</div>
        </div>
        <span></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="profile_bottom_links">
      <a href="" class="pub_profile_link">
        <span class="prof_icon">&nbsp;</span>
        <span class="prof_text">View your public profile</span>
      </a>
      <a href="" class="account_setting_link">
        <span class="acc_icon">&nbsp;</span>
        <span class="acc_text">Go to account setting</span>
      </a>
    </div>
    <div class="clear"></div>
  </div>

  <!-- END OF EMPTY PROFILE -->

  <!-- ACCOUNT SETTING -->

  <div class="acc_setting_tab main_content">
    <div class="account_setting">
      <div class="account_setting_header">
        <span class="blue_icon_account">&nbsp;</span>
        <span class="text_account_setting">Account Setting</span>
      </div>
      <div class="email_password">
        <div class="left_path">
          <span class="email_text">Email</span>
          <div class="email_path">
            <form action="" class="">
              <div>
                <input type="text" value="metrofx@gmail.com" />
                <input type="submit" class="but_save_popup" value="Save" />
              </div>
            </form>
            <span class="email_information">your email wil not shown to public and it will be used for password recovery</span>
          </div>
        </div>
        <div class="right_path">
          <span class="pass_text">Password</span>
          <div class="pass_path">
            <form action="" class="">
              <div>
                <input type="password" value="12345678" class="no_margin_top" />
                <input type="password" value="12345678" />
                <input type="submit" class="save_style but_save_popup" value="Save" />
              </div>
            </form>
            <span class="pass_information">6-30 characters</span>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="privacy">
        <span class="privacy_text">Privacy</span>
        <form action="">
          <div>
            <table class="account_setting_table">
              <tbody>
                <tr>
                  <td class="td_tittle">&nbsp;</td>
                  <td class="td_radio">Everyone</td>
                  <td class="td_radio">Friends</td>
                  <td class="td_radio">Hide</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td class="border_bottom_table td_tittle">Jots</td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="jots" value="jots_1" checked="checked"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="jots" value="jots_1"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="jots" value="jots_1"/></td>
                  <td class="border_bottom_table">&nbsp;</td>
                </tr>
                <tr>
                  <td class="border_bottom_table td_tittle">Show Location</td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="show_location" value="jots_1" checked="checked"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="show_location" value="jots_1"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="show_location" value="jots_1"/></td>
                  <td class="border_bottom_table">&nbsp;</td>
                </tr>
                <tr>
                  <td class="border_bottom_table td_tittle">Show Kudos</td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="show_kudos" value="jots_1" checked="checked"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="show_kudos" value="jots_1"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="show_kudos" value="jots_1"/></td>
                  <td class="border_bottom_table">&nbsp;</td>
                </tr>
                <tr>
                  <td class="td_tittle">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td>
                    <input type="submit" value="Save" class="save_style but_save_popup" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="privacy">
        <span class="privacy_text">Deafult Post</span>
        <form action="">
          <div>
            <table class="account_setting_table">
              <tbody>
                <tr>
                  <td class="td_tittle">&nbsp;</td>
                  <td class="td_radio">Always</td>
                  <td class="td_radio">Ask</td>
                  <td class="td_radio">Never</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td class="border_bottom_table td_tittle">Auto-shorten URL</td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1" checked="checked"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1"/></td>
                  <td class="border_bottom_table">&nbsp;</td>
                </tr>
                <tr>
                  <td class="border_bottom_table td_tittle">Auto Complete</td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1" checked="checked"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1"/></td>
                  <td class="border_bottom_table">&nbsp;</td>
                </tr>
                <tr>
                  <td class="td_tittle">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td>
                    <input type="submit" value="Save" class="save_style but_save_popup" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="privacy">
        <span class="privacy_text">Connections and Cross-posts<a class="connect_cross" href="">(what is this?)</a></span>
        <form action="">
          <div>
            <table class="account_setting_table">
              <tbody>
                <tr>
                  <td class="td_tittle">&nbsp;</td>
                  <td class="td_radio">Allow</td>
                  <td class="td_radio">Deny</td>
                  <td class="td_radio">Always Cross-post</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td class="border_bottom_table td_tittle">
                    <a class="no_margin_left no_margin_right FB" href="">&nbsp;</a>
                    <span class="name_cross_post">Eko Prasetyo</span>
                    <a class="unlink" href="">(Unlink)</a>
                  </td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1" checked="checked"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1"/></td>
                  <td class="border_bottom_table td_radio"><input type="checkbox" name="shorten" value="jots_1"/></td>
                  <td class="border_bottom_table"><a class="no_padding_left connect_cross" href="">add more account</a></td>
                </tr>
                <tr>
                  <td class="border_bottom_table td_tittle">
                    <a class="no_margin_left twitter" href=""></a>
                    <span class="name_cross_post">@metrofx</span>
                    <a class="unlink" href="">(Unlink)</a>
                  </td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1"  checked="checked"/></td>
                  <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1"/></td>
                  <td class="border_bottom_table td_radio"><input type="checkbox" name="complete" value="jots_1"/></td>
                  <td class="border_bottom_table"><a class="no_padding_left connect_cross" href="">add more account</a></td>
                </tr>
                <tr>
                  <td class="td_tittle">
                    <p class="p_information">Your setting are saved</p>
                  </td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td>
                    <input type="submit" value="Save" class="save_style but_save_popup" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="privacy">
        <span class="privacy_text">Media Upload</span>
        <form action="">
          <div>
            <table class="account_setting_table">
              <tbody>
                <tr>
                  <td colspan="5"><p class="border_bottom_table p_information">If you choose to upload media from your computer, they will be stored either on your Facebook account, your youtube account, or both*</p></td>
                </tr>
                <tr>
                  <td class="td_tittle">
                    <span class="upload_videos">&nbsp;</span>
                    <span class="upload_videos_text">Upload videos to</span>
                  </td>
                  <td class="td_radio">
                    <label for="first_fb_label" class="fb_label"></label>
                    <input type="checkbox" name="complete" id="first_fb_label"/>
                  </td>
                  <td class="td_radio">
                    <label for="youtube_label" class="youtube_label"></label>
                    <input type="checkbox" name="complete" id="youtube_label"/>
                  </td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="">&nbsp;</td>
                </tr>
                <tr>
                  <td class="td_tittle">
                    <span class="upload_picture">&nbsp;</span>
                    <span class="upload_videos_text">Upload pictures to</span>
                  </td>
                  <td class="td_radio">
                    <label for="second_fb_label" class="fb_label"></label>
                    <input type="checkbox" name="complete" id="second_fb_label"/>
                  </td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="">&nbsp;</td>
                </tr>
                <tr>
                  <td class="td_tittle">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td class="td_radio">&nbsp;</td>
                  <td>
                    <input type="submit" value="Save" class="save_style but_save_popup" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- END OF ACCOUNT SETTING -->


  <!-- HOT STUFF -->
  <div class="hot_stuff_path middle_content">
    <div class="hot_stuff_text_icon">
      <span class="hot_stuff_icon">&nbsp;</span>
      <span class="hot_stuff_text">Hot Stuff</span>
      <span class="clear"></span>
    </div>
    <div class="no_margin_bottom hot_jot_path">
      <div class="hot_stuff_header">
        <div class="jot_left">
          <span class="orange_jots_icon">&nbsp;</span>
          <span class="orange_jots">Jots</span>
          <span class="clear"></span>
        </div>
        <div class="jot_right">
          <ul>
            <li>
              <a href="">
                <span class="most_faved_icon">&nbsp;</span>
                <span class="most_faved">most faved</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="most_comment_icon">&nbsp;</span>
                <span class="most_comment">most comment</span>
              </a>
            </li>
            <li class="no_padding_right">
              <a href="" class="orange_more">More</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hot_jot_content_path">
        <div class="previous_icon">
          &nbsp;
          <a class="previous" href="">&nbsp;</a>
        </div>
        <div class="hot_jot">
          <div class="hot_jot_header people_post">
            <div class="hot_jot_width header_result">
              <img src="/assets/marleene.png" alt=""/>
              <span>MarleenCorp</span>
              <ul>
                <li class="thumbs_separator">&nbsp;</li>
                <li class="thumbs_ups">
                  <a href="#"><span class="thumbs_up"></span>7777</a>
                </li>
                <li class="no_padding_left">
                  <a href="#"><span class="thumbs_down"></span>65</a>
                </li>
                <li class="thumbs_separator">&nbsp;</li>
                <li class="orange_star">&nbsp;</li>
                <li class="fire">&nbsp;</li>
                <li class="refresh">&nbsp;</li>
                <li class="cross">&nbsp;</li>
              </ul>
            </div>
            <div class="down-sign"></div>
            <div class="clear"></div>
          </div>
          <div class="hot_jot_tittle">
            <p>Lorem Ipsum Dolor Sit amet</p>
          </div>
          <div class="hot_jot_status">
            <ul>
              <li>6 hours ago</li>
              <li>.</li>
              <li>rejoted by 25 peoples</li>
              <li>.</li>
              <li>faved by  30 peoples</li>
            </ul>
          </div>
          <div class="hot_jot_icons">
            <ul>
              <li>
                <a href="" class="blue_post_icon"></a>
              </li>
              <li>
                <a href="" class="blue_attach_icon"></a>
              </li>
              <li>
                <a href="" class="blue_position_icon"></a>
              </li>
              <li>
                <a href="" class="blue_refresh_icon"></a>
              </li>
            </ul>
          </div>
          <div class="hot_jot_incognito tag-incognito">
            <span class="hot_jot_incognito_icon">&nbsp;</span>
            <div class="button_tag">
              <ul>
                <li>
                  <span class="button_tagText">KenyeWest</span>
                  <span class="not_activeSearch"></span>
                </li>
                <li>
                  <span class="button_tagText">RapDVD</span>
                  <span class="not_activeSearch"></span>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
          <div class="hot_jot_comment comment">
            <span class="blue_refresh_icon">&nbsp;</span>
            <div class="hot_stuff_comment_line comment_line">
              <div class="left">
                <ul>
                  <li class="left"><a href="#">16 comments</a></li>
                  <li class="left">.</li>
                  <li class="left"><a href="#">View all</a></li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <a href="" class="hot_jot_hover">go to the jot</a>
        </div>
        <div class="next_icon">
          &nbsp;
          <a class="next" href="">&nbsp;</a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="hot_media_path">
      <div class="hot_stuff_header">
        <div class="media_left">
          <span class="orange_media_icon">&nbsp;</span>
          <span class="orange_media">Media</span>
          <span class="clear"></span>
        </div>
        <div class="media_right">
          <ul>
            <li>
              <a href="">
                <span class="most_faved">All</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="pictures_icon">&nbsp;</span>
                <span class="most_comment">Pictures</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="videos_icon">&nbsp;</span>
                <span class="most_comment">Videos</span>
              </a>
            </li>
            <li class="no_padding_right">
              <a href="" class="orange_more">More</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="no_margin_bottom hot_media_path">
        <div class="hot_media">
          <div class="previous_media previous_icon">
            &nbsp;
            <a class="previous" href="">&nbsp;</a>
          </div>
          <ul>
            <li class="other_media">
              <span>
                <a href="" class="media_icon">&nbsp;</a>
                <a href="" class="play_button">&nbsp;</a>
                <a href="images/video_1popup.png" rel="image_popup"><img src="/assets/video_1.png" alt="" /></a>
              </span>
            </li>
            <li class="other_media">
              <span>
                <a href="" class="picture_icon">&nbsp;</a>
                <a href="images/picture_1popup.png" rel="image_popup"><img src="/assets/picture_1.png" alt="" /></a>
              </span>
            </li>
            <li class="other_media">
              <span>
                <a href="" class="picture_icon">&nbsp;</a>
                <a href="images/picture_2popup.png" rel="image_popup"><img src="/assets/picture_2.png" alt="" /></a>
              </span>
            </li>
            <li class="other_media no_margin_right">
              <span>
                <a href="" class="media_icon">&nbsp;</a>
                <a href="" class="play_button">&nbsp;</a>
                <a href="images/video_2popup.png" rel="image_popup"><img src="/assets/video_2.png" alt="" /></a>
              </span>
            </li>
          </ul>
          <div class="previous_media next_icon">
            &nbsp;
            <a class="next" href="">&nbsp;</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="no_margin_bottom hot_people_path">
      <div class="hot_stuff_header">
        <div class="media_left">
          <span class="orange_people_icon">&nbsp;</span>
          <span class="orange_people">People</span>
          <span class="clear"></span>
        </div>
        <div class="media_right">
          <ul>
            <li>
              <a href="">
                <span class="popular_icon">&nbsp;</span>
                <span class="most_faved">Popular</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="new_users_icon">&nbsp;</span>
                <span class="most_comment">New Users</span>
              </a>
            </li>
            <li class="no_padding_right">
              <a href="" class="orange_more">More</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hot_people">
        <div class="previous_people previous_icon">
          &nbsp;
          <a class="previous" href="">&nbsp;</a>
        </div>
        <ul>
          <li>
            <span class="first_badge">97</span>
            <a href="">
              <span class="left">
                <img src="/assets/propic_1.png" alt="" />
              </span>
              <span class="hot_people_right">
                <span class="top_path">
                  <span class="hot_people_nickname">Peggybunny</span>
                  <span class="hot_people_surename">Peggy M.</span>
                </span>
                <span class="bottom_path">
                  <span class="hot_people_country">Indonesia</span>
                  <span class="hot_people_jots">120 Jots</span>
                </span>
              </span>
            </a>
          </li>
          <li>
            <span class="second_badge">72</span>
            <a href="">
              <span class="left">
                <img src="/assets/propic_2.png" alt="" />
              </span>
              <span class="hot_people_right">
                <span class="top_path">
                  <span class="hot_people_nickname">ep</span>
                  <span class="hot_people_surename">Erlan Primansyah</span>
                </span>
                <span class="bottom_path">
                  <span class="hot_people_country">Indonesia</span>
                  <span class="hot_people_jots">120 Jots</span>
                </span>
              </span>
            </a>
          </li>
          <li>
            <span class="third_badge">49</span>
            <a href="">
              <span class="left">
                <img src="/assets/propic_3.png" alt="" />
              </span>
              <span class="hot_people_right">
                <span class="top_path">
                  <span class="hot_people_nickname">ep</span>
                  <span class="hot_people_surename">Erlan Primansyah</span>
                </span>
                <span class="bottom_path">
                  <span class="hot_people_country">Indonesia</span>
                  <span class="hot_people_jots">120 Jots</span>
                </span>
              </span>
            </a>
          </li>
        </ul>
        <div class="previous_people next_icon">
          &nbsp;
          <a class="next" href="">&nbsp;</a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="hot_tags_path">
      <div class="hot_stuff_header">
        <div class="media_left">
          <span class="orange_tags_icon">&nbsp;</span>
          <span class="orange_tags">Tags</span>
          <span class="clear"></span>
        </div>
        <div class="media_right">
          <ul>
            <li>
              <a href="">
                <span class="no_padding_left most_comment">last 24 hours</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="no_padding_left most_comment">1 week</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="no_padding_left most_comment">a month</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="no_padding_left most_faved">All Time</span>
              </a>
            </li>
            <li class="no_padding_right">
              <a href="" class="orange_more">More</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hot_tags">
        <div class="hot_tags_result">
          <div class="no_padding_top level_1">
            <ul class="hot_tags_top">
              <li class="Lev_1">
                <span class="button_tagText">Fourplay</span>
                <span class="not_activeSearch"></span>
              </li>
              <li class="Lev_1">
                <span class="button_tagText">encule</span>
                <span class="not_activeSearch"></span>
              </li>
              <li class="Lev_1 no_padding_right">
                <span class="button_tagText">JotkyBeta</span>
                <span class="not_activeSearch"></span>
              </li>
              <li class="Lev_1 no_padding_right">
                <span class="button_tagText">AdobeWeek</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="margin_top_tegs level_2">
            <ul class="hot_tags_middle">
              <li class="Lev_2">
                <span class="button_tagText">Campaign</span>
                <span class="not_activeSearch"></span>
              </li>
              <li class="Lev_2">
                <span class="button_tagText">Normal</span>
                <span class="not_activeSearch"></span>
              </li>
              <li class="Lev_2">
                <span class="button_tagText">LifeRule</span>
                <span class="not_activeSearch"></span>
              </li>
              <li class="Lev_2">
                <span class="button_tagText">GoogleDay</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="margin_top_tegs level_3">
            <ul class="hot_tags_bottom">
              <li class="Lev_3">
                <span class="button_tagText">JessicaSimphony</span>
                <span class="not_activeSearch"></span>
              </li>
              <li class="Lev_3">
                <span class="button_tagText">Bushfor2020</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- END OF HOT STUFF -->

  <div class="clear"></div>
</div>
