<%= render 'shared/magicbox' %>

  <!-- HOT STUFF -->
          <div class="hot_stuff_path middle_content">
            <div class="hot_stuff_text_icon">
              <span class="hot_stuff_icon">&nbsp;</span>
              <span class="hot_stuff_text">Hot Stuff</span>
              <span class="clear"></span>
            </div>
            <div class="no_margin_bottom hot_jot_path">
              <div class="hot_stuff_header">
                <div class="jot_left">
                  <span class="orange_jots_icon">&nbsp;</span>
                  <span class="orange_jots">Jots</span>
                  <span class="clear"></span>
                </div>
                <div class="jot_right">
                  <ul>
                    <li>
                      <a href="">
                        <span class="most_faved_icon">&nbsp;</span>
                        <span class="most_faved">most faved</span>
                      </a>
                    </li>
                    <li class="orange_dot">.</li>
                    <li>
                      <a href="">
                        <span class="most_comment_icon">&nbsp;</span>
                        <span class="most_comment">most comment</span>
                      </a>
                    </li>
                    <li class="no_padding_right">
                      <a href="" class="orange_more">More</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="hot_jot_content_path">
                <div class="previous_icon">
                  &nbsp;
                  <a class="previous" href="">&nbsp;</a>
                </div>
                <div class="hot_jot">
                  <div class="hot_jot_header people_post">
                    <div class="hot_jot_width header_result">
                      <img src="/assets/marleene.png" alt=""/>
                      <span>MarleenCorp</span>
                      <ul>
                        <li class="thumbs_separator">&nbsp;</li>
                        <li class="thumbs_ups">
                          <a href="#"><span class="thumbs_up"></span>7777</a>
                        </li>
                        <li class="no_padding_left">
                          <a href="#"><span class="thumbs_down"></span>65</a>
                        </li>
                        <li class="thumbs_separator">&nbsp;</li>
                        <li class="orange_star">&nbsp;</li>
                        <li class="fire">&nbsp;</li>
                        <li class="refresh">&nbsp;</li>
                        <li class="cross">&nbsp;</li>
                      </ul>
                    </div>
                    <div class="down-sign"></div>
                    <div class="clear"></div>
                  </div>
                  <div class="hot_jot_tittle">
                    <p>Lorem Ipsum Dolor Sit amet</p>
                  </div>
                  <div class="hot_jot_status">
                    <ul>
                      <li>6 hours ago</li>
                      <li>.</li>
                      <li>rejoted by 25 peoples</li>
                      <li>.</li>
                      <li>faved by  30 peoples</li>
                    </ul>
                  </div>
                  <div class="hot_jot_icons">
                    <ul>
                      <li>
                        <a href="" class="blue_post_icon"></a>
                      </li>
                      <li>
                        <a href="" class="blue_attach_icon"></a>
                      </li>
                      <li>
                        <a href="" class="blue_position_icon"></a>
                      </li>
                      <li>
                        <a href="" class="blue_refresh_icon"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="hot_jot_incognito tag-incognito">
                    <span class="hot_jot_incognito_icon">&nbsp;</span>
                    <div class="button_tag">
                      <ul>
                        <li>
                            <span class="button_tagText">KenyeWest</span>
                            <span class="not_activeSearch"></span>
                        </li>
                        <li>
                          <span class="button_tagText">RapDVD</span>
                          <span class="not_activeSearch"></span>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="hot_jot_comment comment">
                    <span class="blue_refresh_icon">&nbsp;</span>
                      <div class="hot_stuff_comment_line comment_line">
                        <div class="left">
                          <ul>
                            <li class="left"><a href="#">16 comments</a></li>
                            <li class="left">.</li>
                            <li class="left"><a href="#">View all</a></li>
                          </ul>
                        </div>
                      </div>
                    <div class="clear"></div>
                  </div>
                  <a href="" class="hot_jot_hover">go to the jot</a>
                </div>
                <div class="next_icon">
                  &nbsp;
                  <a class="next" href="">&nbsp;</a>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="hot_media_path">
              <div class="hot_stuff_header">
                <div class="media_left">
                  <span class="orange_media_icon">&nbsp;</span>
                  <span class="orange_media">Media</span>
                  <span class="clear"></span>
                </div>
                <div class="media_right">
                  <ul>
                    <li>
                      <a href="">
                        <span class="most_faved">All</span>
                      </a>
                    </li>
                    <li class="orange_dot">.</li>
                    <li>
                      <a href="">
                        <span class="pictures_icon">&nbsp;</span>
                        <span class="most_comment">Pictures</span>
                      </a>
                    </li>
                    <li class="orange_dot">.</li>
                    <li>
                      <a href="">
                        <span class="videos_icon">&nbsp;</span>
                        <span class="most_comment">Videos</span>
                      </a>
                    </li>
                    <li class="no_padding_right">
                      <a href="" class="orange_more">More</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="no_margin_bottom hot_media_path">
                <div class="hot_media">
                  <div class="previous_media previous_icon">
                    &nbsp;
                    <a class="previous" href="">&nbsp;</a>
                  </div>
                  <ul>
                    <li class="other_media">
                      <span>
                        <a href="" class="media_icon">&nbsp;</a>
                        <a href="" class="play_button">&nbsp;</a>
                        <a href="/assets/images/video_1popup.png" rel="image_popup"><img src="/assets/video_1.png" alt="" /></a>
                      </span>
                    </li>
                    <li class="other_media">
                      <span>
                        <a href="" class="picture_icon">&nbsp;</a>
                        <a href="/assets/images/picture_1popup.png" rel="image_popup"><img src="/assets/picture_1.png" alt="" /></a>
                      </span>
                    </li>
                    <li class="other_media">
                      <span>
                        <a href="" class="picture_icon">&nbsp;</a>
                        <a href="/assets/images/picture_2popup.png" rel="image_popup"><img src="/assets/picture_2.png" alt="" /></a>
                      </span>
                    </li>
                    <li class="other_media no_margin_right">
                      <span>
                        <a href="" class="media_icon">&nbsp;</a>
                        <a href="" class="play_button">&nbsp;</a>
                        <a href="/assets/images/video_2popup.png" rel="image_popup"><img src="/assets/video_2.png" alt="" /></a>
                      </span>
                    </li>
                  </ul>
                  <div class="previous_media next_icon">
                    &nbsp;
                    <a class="next" href="">&nbsp;</a>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="hot_people_path">
              <div class="hot_stuff_header">
                <div class="media_left">
                  <span class="orange_people_icon">&nbsp;</span>
                  <span class="orange_people">People</span>
                  <span class="clear"></span>
                </div>
                <div class="media_right">
                  <ul>
                    <li>
                      <a href="">
                        <span class="popular_icon">&nbsp;</span>
                        <span class="most_faved">Popular</span>
                      </a>
                    </li>
                    <li class="orange_dot">.</li>
                    <li>
                      <a href="">
                        <span class="new_users_icon">&nbsp;</span>
                        <span class="most_comment">New Users</span>
                      </a>
                    </li>
                    <li class="no_padding_right">
                      <a href="" class="orange_more">More</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="hot_people">
                <div class="previous_people2 previous_icon2">
                  <a class="previous" href="">&nbsp;</a>
                </div>
                <ul>
                  <li>
                    <span class="first_badge">97</span>
                    <a href="">
                      <span class="left">
                        <img src="/assets/propic_1.png" alt="" />
                      </span>
                      <span class="hot_people_right">
                        <span class="top_path">
                          <span class="hot_people_nickname">Peggybunny</span>
                          <span class="hot_people_surename">Peggy M.</span>
                        </span>
                        <span class="bottom_path">
                          <span class="hot_people_country">Indonesia</span>
                          <span class="hot_people_jots">120 Jots</span>
                        </span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <span class="second_badge">72</span>
                    <a href="">
                      <span class="left">
                        <img src="/assets/propic_2.png" alt="" />
                      </span>
                      <span class="hot_people_right">
                        <span class="top_path">
                          <span class="hot_people_nickname">ep</span>
                          <span class="hot_people_surename">Erlan Primansyah</span>
                        </span>
                        <span class="bottom_path">
                          <span class="hot_people_country">Indonesia</span>
                          <span class="hot_people_jots">120 Jots</span>
                        </span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <span class="third_badge">49</span>
                    <a href="">
                      <span class="left">
                        <img src="/assets/propic_3.png" alt="" />
                      </span>
                      <span class="hot_people_right">
                        <span class="top_path">
                          <span class="hot_people_nickname">ep</span>
                          <span class="hot_people_surename">Erlan Primansyah</span>
                        </span>
                        <span class="bottom_path">
                          <span class="hot_people_country">Indonesia</span>
                          <span class="hot_people_jots">120 Jots</span>
                        </span>
                      </span>
                    </a>
                  </li>
                </ul>
                <div class="previous_people2 next_icon2">
                  &nbsp;
                  <a class="next" href="">&nbsp;</a>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="hot_tags_path">
              <div class="hot_stuff_header">
                <div class="media_left">
                  <span class="orange_tags_icon">&nbsp;</span>
                  <span class="orange_tags">Tags</span>
                  <span class="clear"></span>
                </div>
                <div class="media_right">
                  <ul>
                    <li>
                      <a href="">
                        <span class="no_padding_left most_comment">last 24 hours</span>
                      </a>
                    </li>
                    <li class="orange_dot">.</li>
                    <li>
                      <a href="">
                        <span class="no_padding_left most_comment">1 week</span>
                      </a>
                    </li>
                    <li class="orange_dot">.</li>
                    <li>
                      <a href="">
                        <span class="no_padding_left most_comment">a month</span>
                      </a>
                    </li>
                    <li class="orange_dot">.</li>
                    <li>
                      <a href="">
                        <span class="no_padding_left most_faved">All Time</span>
                      </a>
                    </li>
                    <li class="no_padding_right">
                      <a href="" class="orange_more">More</a>
                    </li>
                </ul>
                </div>
              </div>
              <div class="hot_tags">
                <div class="hot_tags_result">
                  <div class="no_padding_top level_1">
                    <ul class="hot_tags_top">
                      <li class="Lev_1">
                        <span class="button_tagText">Fourplay</span>
                        <span class="not_activeSearch"></span>
                      </li>
                      <li class="Lev_1">
                        <span class="button_tagText">encule</span>
                        <span class="not_activeSearch"></span>
                      </li>
                      <li class="Lev_1 no_padding_right">
                        <span class="button_tagText">JotkyBeta</span>
                        <span class="not_activeSearch"></span>
                      </li>
                      <li class="Lev_1 no_padding_right">
                        <span class="button_tagText">AdobeWeek</span>
                        <span class="not_activeSearch"></span>
                      </li>
                    </ul>
                    <div class="clear"></div>
                  </div>
                  <div class="margin_top_tegs level_2">
                    <ul class="hot_tags_middle">
                      <li class="Lev_2">
                        <span class="button_tagText">Campaign</span>
                        <span class="not_activeSearch"></span>
                      </li>
                      <li class="Lev_2">
                        <span class="button_tagText">Normal</span>
                        <span class="not_activeSearch"></span>
                      </li>
                      <li class="Lev_2">
                        <span class="button_tagText">LifeRule</span>
                        <span class="not_activeSearch"></span>
                      </li>
                      <li class="Lev_2">
                        <span class="button_tagText">GoogleDay</span>
                        <span class="not_activeSearch"></span>
                      </li>
                    </ul>
                    <div class="clear"></div>
                  </div>
                  <div class="margin_top_tegs level_3">
                    <ul class="hot_tags_bottom">
                      <li class="Lev_3">
                        <span class="button_tagText">JessicaSimphony</span>
                        <span class="not_activeSearch"></span>
                      </li>
                      <li class="Lev_3">
                        <span class="button_tagText">Bushfor2020</span>
                        <span class="not_activeSearch"></span>
                      </li>
                    </ul>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- END OF HOT STUFF -->

