<%= render 'shared/magicbox' %>

<div id="r-searchpeoplerslt-content" class="people_search_result middle_content">



            <div class="people_search_header">
              <ul>
                <li>
                  <a href="" class="people_notactive">
                    <span class="people_notactive_icon">&nbsp;</span>
                    <span class="notactive_text">People</span>
                  </a>
                  <a href=""  class="people_active">
                    <span class="people_active_icon">&nbsp;</span>
                    <span class="active_text">People</span>
                  </a>
                </li>
                <li>
                  <span class="people_dot_separator">&nbsp;</span>
                </li>
                <li>
                  <a href="" class="search_notactive">
                    <span class="search_notactive_icon">&nbsp;</span>
                    <span class="notactive_text">Search @Far</span>
                  </a>
                  <a href=""  class="search_active">
                    <span class="search_active_icon">&nbsp;</span>
                    <span class="active_text">Search @Far</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="people_search_middle">
              <ul>
                <li>
                  <a href="" class="notactive_by_name">
                    <span class="notactive_by_name_icon">&nbsp;</span>
                    <span class="search_middle_notactive_text">by name</span>
                  </a>
                  <a href="" class="active_by_name">
                    <span class="active_by_name_icon">&nbsp;</span>
                    <span class="search_middle_active_text">by name</span>
                  </a>
                </li>
                <li>
                  <a href="" class="notactive_by_kudos">
                    <span class="notactive_by_kudos_icon">&nbsp;</span>
                    <span class="search_middle_notactive_text">by kudos</span>
                  </a>
                  <a href="" class="active_by_kudos">
                    <span class="active_by_kudos_icon">&nbsp;</span>
                    <span class="search_middle_active_text">by kudos</span>
                  </a>
                </li>
                <li>
                  <a href="" class="notactive_by_location">
                    <span class="notactive_by_location_icon">&nbsp;</span>
                    <span class="search_middle_notactive_text">by location</span>
                  </a>
                  <a href="" class="active_by_location">
                    <span class="active_by_location_icon">&nbsp;</span>
                    <span class="search_middle_active_text">by location</span>
                  </a>
                </li>
                <li>
                  <a href="" class="notactive_by_tags">
                    <span class="notactive_by_tags_icon">&nbsp;</span>
                    <span class="search_middle_notactive_text">by tags</span>
                  </a>
                  <a href="" class="active_by_tags">
                    <span class="active_by_tags_icon">&nbsp;</span>
                    <span class="search_middle_active_text">by tags</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="people_search_content">
              <ul>
                <li>
                  <span class="first_badge t_align_cntr">97</span>
                  <div class="people_content_left">
                    <img src="/assets/propic_1.png" alt="" />
                    <div class="people_action_icon">
                      <div class="people_message">
                        <a href="">&nbsp;</a>
                      </div>
                      <div class="people_write">
                        <a href="">&nbsp;</a>
                      </div>
                      <div class="people_view">
                        <a href="">&nbsp;</a>
                      </div>
                    </div>
                  </div>
                  <div class="people_content_right">
                    <div class="people_content_top">
                      <div class="content_top_left_side">
                        <a href="">Peggybunny</a>
                        <span>Jakarta, Indonesia</span>
                      </div>
                      <div class="content_top_right_side">
                        <span>Peggy Marinceu</span>
                        <p>Blogger, public relations, community development, and yet still single!</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="people_content_bottom">
                      <div class="content_bottom_left_side">
                        <a href="">120 Jots</a>
                      </div>
                      <div class="content_bottom_right_side">
                        <ul>
                          <li class="li_serach_style">
                            <span class="button_tagText">Random</span>
                            <span class="not_activeSearch"></span>
                          </li>
                          <li class="li_serach_style">
                            <span class="button_tagText">Beautiful</span>
                            <span class="not_activeSearch"></span>
                          </li>
                          <li class="li_serach_style">
                            <span class="button_tagText">Random</span>
                            <span class="not_activeSearch"></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </li>
                <li>
                  <span class="second_badge t_align_cntr">72</span>
                  <div class="people_content_left">
                    <img src="/assets/propic_2.png" alt="" />
                    <div class="people_action_icon">
                      <div class="people_message">
                        <a href="">&nbsp;</a>
                      </div>
                      <div class="people_write">
                        <a href="">&nbsp;</a>
                      </div>
                      <div class="people_view">
                        <a href="">&nbsp;</a>
                      </div>
                    </div>
                  </div>
                  <div class="people_content_right">
                    <div class="people_content_top">
                      <div class="content_top_left_side">
                        <a href="">ep</a>
                        <span>Jakarta, Indonesia</span>
                      </div>
                      <div class="content_top_right_side">
                        <span>Erlan Primansyah</span>
                        <p>Creative innovator. CEO of Creative Minds Jakarta</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="people_content_bottom">
                      <div class="content_bottom_left_side">
                        <a href="">120 Jots</a>
                      </div>
                      <div class="content_bottom_right_side">
                        <ul>
                          <li class="li_serach_style">
                            <span class="button_tagText">Random</span>
                            <span class="not_activeSearch"></span>
                          </li>
                          <li class="li_serach_style">
                            <span class="button_tagText">Beautiful</span>
                            <span class="not_activeSearch"></span>
                          </li>
                          <li class="li_serach_style">
                            <span class="button_tagText">Random</span>
                            <span class="not_activeSearch"></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </li>
                <li>
                  <span class="third_badge t_align_cntr">49</span>
                  <div class="people_content_left">
                    <img src="/assets/propic_3.png" alt="" />
                    <div class="people_action_icon">
                      <div class="people_message">
                        <a href="">&nbsp;</a>
                      </div>
                      <div class="people_write">
                        <a href="">&nbsp;</a>
                      </div>
                      <div class="people_view">
                        <a href="">&nbsp;</a>
                      </div>
                    </div>
                  </div>
                  <div class="people_content_right">
                    <div class="people_content_top">
                      <div class="content_top_left_side">
                        <a href="">FAntameRAH</a>
                        <span>Cimahi 12 Bandung, Indonesia</span>
                      </div>
                      <div class="content_top_right_side">
                        <span>Farah Wiratanuningrat</span>
                        <p>
                          Fun fearless female, I'm an old broken down piece of meat and I'm alone....
                          and I deserve to be all alone, I just don't want you to hate me
                        </p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="people_content_bottom">
                      <div class="content_bottom_left_side">
                        <a href="">120 Jots</a>
                      </div>
                      <div class="content_bottom_right_side">
                        <ul>
                          <li class="li_serach_style">
                            <span class="button_tagText">Random</span>
                            <span class="not_activeSearch"></span>
                          </li>
                          <li class="li_serach_style">
                            <span class="button_tagText">Beautiful</span>
                            <span class="not_activeSearch"></span>
                          </li>
                          <li class="li_serach_style">
                            <span class="button_tagText">Random</span>
                            <span class="not_activeSearch"></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </li>
                <li>
                  <span class="third_badge">46</span>
                  <div class="people_content_left">
                    <img src="/assets/propic_4.png" alt="" />
                    <div class="people_action_icon">
                      <div class="people_message">
                        <a href="">&nbsp;</a>
                      </div>
                      <div class="people_write">
                        <a href="">&nbsp;</a>
                      </div>
                      <div class="people_view">
                        <a href="">&nbsp;</a>
                      </div>
                    </div>
                  </div>
                  <div class="people_content_right">
                    <div class="people_content_top">
                      <div class="content_top_left_side">
                        <a href="">ThatDudeFrom Hell</a>
                        <span>Oslo, norway</span>
                      </div>
                      <div class="content_top_right_side">
                        <span>Marlon Brando</span>
                        <p>I have a unique knowledge of this prison facility. I was formerly a guest here.</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="people_content_bottom">
                      <div class="content_bottom_left_side">
                        <a href="">120 Jots</a>
                      </div>
                      <div class="content_bottom_right_side">
                        <ul>
                          <li class="li_serach_style">
                            <span class="button_tagText">Random</span>
                            <span class="not_activeSearch"></span>
                          </li>
                          <li class="li_serach_style">
                            <span class="button_tagText">Beautiful</span>
                            <span class="not_activeSearch"></span>
                          </li>
                          <li class="li_serach_style">
                            <span class="button_tagText">Random</span>
                            <span class="not_activeSearch"></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </li>
              </ul>

            </div>


  <div class="clear"></div>

</div>