<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Jotky Newsletter</title>
  </head>

  <body>
    <style type="text/css" "=""><!--
    body {
       background-color: #ffffff;
       margin: 0;
       padding: 0;
    }
    a {
	color:#a14933;
	text-decoration:none;
    }
    a:hover {
	color:#a14933;
	text-decoration:underline;
    }
    img {
	border: none;
	}
    -->-->--></style>
    <table width="100%" border="0" align="center" cellpadding="20" cellspacing="0" bgcolor="#ffffff">
      <tr>
      <td valign="top">


      <table width="500" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f7f7f7">
      <tr>
      <td>

      <!-- START OF Header Table -->
      <table width="650" height="100" border="0" cellspacing="3" cellpadding="3" bgcolor="#23b0b9">
      <tr>
      <td height="100" width="425" align="left" valign="top" bgcolor="#23b0b9"><img src="<%= assets_url %>/jotkylogo.png" width="115" height="42" alt="JOTKY" /></td>
      <td width="193" align="left" valign="top" bgcolor="#23b0b9">

      <table width="132" height="100" border="0" cellspacing="0" cellpadding="0" bgcolor="#23b0b9">
      <tr>
      <td height="100" width="132" align="right" valign="top" bgcolor="#23b0b9" style="color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 18px; letter-spacing: 0px;"><img src="<%= assets_url %>/jotkytagline.png" width="280" height="28" alt="Everyone's Everything" /></td>
      </tr>

      </table>

      </td>

      </tr>
      </table>
      <!-- END OF Header Table -->



      <!-- START OF full width Table with image -->
      <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
      <td width="540" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; line-height: 18px;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #1f242f; line-height: 18px;"><p>Newsletter -
      January 2012</p></span>


      <p>Thank you for joining <a href="http://jotky.com">Jotky</a> to participate in the private alpha, it is with pleasure that we announce you that it is finally available without invitation code!</p>

      <p>After several months of research, requests for advice and development, Jotky is available. Of course, it is only a first open alpha with limited features and lots of bugs. Nevertheless, we will be working hard to improve the user experience of Jotky as we receive your feedback. :)

      </p>

      <p>Therefore, and to the extent of your possibilities, we appreciate and take into account any feedback (bugs, interface, missing features...).</p>

      <p>Thank you for your help and we truly hope you will enjoy testing Jotky !
      </p>

      <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #373737; line-height: 18px;"><strong>See you, </strong></span>

      <br /><br /><br />

      <span style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #373737; line-height: 18px;">JOTKY Team</span><br />
      <br /><br /><p align="right"><a href="http://Jotky.com">Access Jotky alpha</a></p>


      <br />


      </td>
      </tr>
      </table>
      <!-- END OF full width Table with image -->




      <!-- START OF FOOTER TABLE -->
      <table width="650" border="0" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
      <tr>
      <td height="68" colspan="3" valign="middle" bgcolor="#f7f7f7"><img src="<%= assets_url %>hr.jpg" width="630" height="9" alt="hr1" /><span style="font-family: Helvetica, sans-serif; font-size: 11px; color: #a5a5a5; line-height: 16px;">Copyright &copy; 2011 Jotky, Inc. All Rights Reserved.<br />
      <a href="http://blog.jotky.com">Jotky Blog</a> | <a href="mailto:hello@Jotky.com" style="color:#a14933;">hello@jotky.com</a><br /></td>
      </tr>

      </table></td>
      </tr>

      </table>
      <!-- END OF FOOTER TABLE -->


      </td>
      </tr>
      </table>

      &nbsp;</td>
      </tr>
      </table>
      <center><table width="600" style="clear:both;margin:20px 0px !important;padding:0px !important;border:1px solid #ddd !important;" cellpadding="0" cellspacing="0"><tr>
      <td align="center" style="padding:10px !important;margin:0px !important;color:#505050 !important;background:#fdfdfd !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:middle !important;text-align:left !important;">You are receiving this newsletter because you've signed up to Jotky. <br />
      <a href="#" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">Click here to stop receiving this email</a>
      </td>
      </tr></table></body>
      </html>
