<script type="text/template" id="favorites-template">
  <div class="jot_result middle_content">
    <div class="clearfix">
      <div class="search_result_heading clearfix">
        <span class="blue_stream">&nbsp;</span>
        <h2>Stream</h2>
      </div>
    </div>

    <div id="main-middle-favorites-list" class="clearfix"></div>
  </div>
</script>
