<script type="text/template" id="favorites-template">
  <div class="jot_result middle_content">
    <div class="clearfix">
      <div class="search_result_heading clearfix">
        <h2>Favorites</h2>
      </div>
    </div>

    <div id="main-middle-favorites-list" class="clearfix"></div>
  </div>
</script>
