<script type="text/template" id="footer-template">

  <div class="drag_box" id="drag_box_user_treat">
    <div class="drag_box_top">
      <span>
        <span class="drag_box_icon">&nbsp;</span>
        <span class="drag_box_text">Drag Box</span>
        <span class="drag_box_information">drag and drop everything here</span>
      </span>
    </div>
    <div class="drag_box_bottom container_16">
      <div class="grid_3">&nbsp;</div>
      <div class="drag_box_middle_jot grid_10">
        <ul>
          <li class="follow">
            <span class="follow_icon">&nbsp;</span>
            <span class="follow_text">follow</span>
          </li>
          <li class="mention">
            <span class="mention_icon">&nbsp;</span>
            <span class="follow_text">mention</span>
          </li>
        </ul>
      </div>
      <div class="grid_3">&nbsp;</div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="footer-menu container_16">
    <ul>
      <li class="grid_2"><a href="#!/about">About</a></li>
      <li class="grid_2"><a href="#">Contact</a></li>
      <li class="grid_2"><a href="#">Status</a></li>
      <li class="grid_2"><a href="#">Goodies</a></li>
      <li class="grid_2"><a href="#">API</a></li>
      <li class="grid_2"><a href="#">Help</a></li>
      <li class="grid_2"><a href="#">Terms</a></li>
      <li class="grid_2"><a href="#">Privacy</a></li>
    </ul>
  </div>
</script>
