<script type="text/template" id="footer-template">

  <div class="footer-menu container_16">
    <ul>
      <li class="grid_2"><a href="/about">About</a></li>
      <li class="grid_2"><a href="#">Contact</a></li>
      <li class="grid_2"><a href="#">Status</a></li>
      <li class="grid_2"><a href="#">Goodies</a></li>
      <li class="grid_2"><a href="#">API</a></li>
      <li class="grid_2"><a href="#">Help</a></li>
      <li class="grid_2"><a href="#">Terms</a></li>
      <li class="grid_2"><a href="#">Privacy</a></li>
    </ul>
  </div>
</script>