<script id="list-jot-template" type="text/template">

  <div class="search_result_container clearfix">

    <div class="people_post">
      <div class="header_post_jot">
        <img alt="" src="/assets/avatar.png">
        <span><#= user.username #></span>

        <# if(in_array(current_user._id, user_mentioned_ids)){ #>
        <div class="header_yellowribon"></div>
        <# } #>

        <ul class="jot_post_header">
          <li><a href="javascript:void(0);"><abbr class="timeago" title="<#= created_at #>"></abbr></a></li>
          <li><a href="javascript:void(0);">
              <span class="header_thumbup link-to-thumbsup"></span>
              <span class="thumbsup-counter"><#= user_thumbsup_ids.length #></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="header_thumbdown link-to-thumbsdown"></span>
              <span class="thumbsdown-counter"><#= user_thumbsdown_ids.length #></span>
            </a>
          </li>
          <li class="stretch">.</li>

          <# if(user_id != current_user._id){ #>
          <li><a href="javascript:void(0);"><span class="header_rejot"></span></a></li>
          <# } #>

          <li class="lastli"><a href="javascript:void(0);" class="link-to-fav"><span class="header_fav <# if(in_array(current_user._id, user_favorite_ids)){ #>header_fav_active<# } #>"></span></a></li>

          <# if( current_user._id == user_id ){ #>

          <a href="javascript:void(0)" class="link-to-destroy cross"></a>

          <# } #>

        </ul>
      </div>
      <div class="down-sign"></div>
      <div class="clear"></div>
    </div>


    <div class="container-result">

      <!-- TITLE JOT -->
      <div class="jot-title-heading padzero padbot_ten clearfix">
        <h2><#= title #></h2>
      </div>


      <!-- WRITE MORE LIST -->
      <# if(detail){ #>
      <div class="post bordertop_post">
        <span class="post-icon" >&nbsp;</span>
        <p>
          <#= detail #>
        </p>
      </div>

      <# } #>


      <# if(tags.length > 0){ #>
      <div class="tag-incognito">
        <span class="hot_jot_incognito_icon">&nbsp;</span>

        <div class="button_tag cleafix">
          <ul>
            <# _.each(tags, function(tag){ #>
            <li>
              <span class="button_tagText"><#= tag.name #></span>
              <span class="not_activeSearch"></span>
            </li>


            <# }) #>
          </ul>
        </div>
      </div>
      <# } #>

      <!-- IF NO COMMENT 
      <div class="comment">
         <span class="comment-icon">&nbsp;</span>
         <div class="comment_line">
            <div class="left">
            <ul>
            <li class="left"><a href="#">0 comments</a></li>
            <li class="left">.</li>
            <li class="left"></li>
            </ul>
             </div>                     
           <div class="clear"></div>
           </div>
      <div class="clear"></div>
      </div> -->



      <!-- IF HAS COMMENT -->
      <div class="comment">
        <span class="comment-icon">&nbsp;</span>
        <div class="comment_line">
          <div class="left">
            <ul>
              <li class="left"><a href="javascript:void(0)"><span id="jot-<#= _id #>-comment-counter">0</span> comments</a></li>
              <li class="left">.</li>
              <li class="left"><a href="javascript:void(0)" class="link-to-show-comment-all">View all</a></li>
            </ul>
          </div>
          <div class="right">
            <ul>

              <li class="left"><a href="#">Newest</a></li>
              <li class="left">.</li>
              <li class="no_margin_right left"><a href="">oldest</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="comment-content">
          <div class="comment-content">
          
          <div class="viewport clearfix">
            <div class="overview" style="top: 0px;">
              <ul id="list-comment-holder-<#= _id #>"></ul>
            </div>
          </div>

        </div>
        <div class="clear"></div>


        <div  class="overview_comment">
          <div class="photo_reply_message">
            <form action="/jots/<#= _id #>/comments.json" method="post" id="jot-comment-form-<#= _id #>">
              <span class="reply_text">Reply</span>
              <span class="input_replay clarfix">
                <span class="reply_message_photo no_margin_left messages_left_path">
                  <# if(current_user.avatar){ #>
                  <img alt="<#= current_user.avatar.username #>" src="<#= current_user.avatar.thumb_small.url #>">
                  <# } #>
                </span>
                <span class="textarea_reply widefive">
                  <span class="triangle_inbox">&nbsp;</span>
                  <textarea cols="" rows="" name="comment[message]" class="widefive"></textarea>
                </span>
              </span>
              <a class="replay_button" id="jot-comment-form-<#= _id #>-submit" href="javascript:void(0)">Reply</a>
            </form>
          </div>

        </div>


      </div>
    </div>
  </div>
</script>
