<script type="text/template" id="list-nest-item-template">
  <div class="left_title">
    <span class="left_img img_2">&nbsp;</span>
    <span class="nest_title">Theatre Schedule</span>
    <div class="nest_menu_hide action_menu_hide" style="display: none;">
      <ul>
        <li class="nest_hide_style">
          <a href="" class="delete_hide">
            <label>delete</label>
            <span class="delete_icon">&nbsp;</span>
          </a>
        </li>
        <li class="nest_hide_style">
          <a class="comment_flag" href="">
            <label class="nest_label_style">rename</label>
            <label class="nest_label_style">Aa</label>
          </a>
        </li>
      </ul>
    </div>
    <a class="nest_down_icon comment_down_arrow" href="" style="display: none;">&nbsp;</a>
  </div>
  <a href="">
    <div class="nest_right_content right_content">
      <div class="input_nest_static">
        <span class="width_category">Movies &gt; Cineplex &gt; StudioX</span>
        <span class="nest_magnifier_style nest_magnifier_icon" style="display: none;">&nbsp;</span>
      </div>
    </div>
  </a>
</script>