<script type="text/template" id="list-sidebar-favorite-template">
  <div class="portlet_favValue_logged">
    <span class="title_fav_logged"><#= user.username #></span>
    <span class="text_logged"><#= title #></span>
    <a href="#!/jots/<#= _id #>" class="fav_hover">
      <span class="fav_hover_icon">&nbsp;</span>
      <span class="go_to_jot_text">Go to Jot</span>
    </a>
  </div>
  <div class="clear"></div>
</script>
