<script type="type/template" id="list-tag-template">
  <span class="choice_text link-to-add-to-reset"><#= tag #></span>
  <span class="not_active link-to-add-to-nest"></span>
  <input type="checkbox" name="nest_item[tags][<#= tag #>]" value="<#= tag #>" class="hidden field-to-add">
</script>