<script type="text/template" id="list-jot-tag-template">
  <li class="Lev_1">
    <span class="active_choiceTexts choice_text"><#= name #></span>
    <span class="jot_middle_tags_active"></span>
  </li>
</script>
