<script type="text/template" id="prompt-form-template">
  <div class="want_delete_popup">
    <div class="want_delete_white">
      <div class="upload_media_bottom">

        <div>
          <div class="submit_upload_media">
            <input type="text">
            <input type="submit" value="Clip">
          </div>
          <div class="submit_upload_media">
            <img class="avatar_loading" src="images/loading-avatar.png" alt="">
            <span class="up_img_info">Attaching pretty.jpg..</span>
          </div>
          <div class="image_upload_path_style">
            <div class="image_upload_path">
              <img class="attach_image" src="images/img-up.png" alt="">
              <span class="left">
                <a class="img_tittle" href="">pretty.jpg</a>
                <input type="text" class="image_upload_input" style="display: none;">
                <br class="clear">
                <span class="img_resolution">original size 1068 x 1600</span>
              </span>
              <a class="close_img_path" href="" style="display: none;">x</a>
            </div>
            <div class="want_delete_popup" style="display: none;">
              <div class="want_delete_white">
                <p>Do you want to delete this?</p>
                <span class="ok_no_button">
                  <a class="but_ok_up" href="">Ok</a>
                  <a class="no_button" href="">No</a>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</script>