<script type="text/template" id="prompt-confirmation-template">
  <div class="want_delete_popup">
    <div class="want_delete_white">
      <p>Do you want to delete this?</p>
      <span class="ok_no_button">
        <a class="but_ok_up link-to-confirm-ok" href="javascript:void(0)">Ok</a>
        <a class="no_button link-to-confirm-no" href="javascript:void(0)">No</a>
      </span>
    </div>
  </div>
</script>