<script type="text/template" id="prompt-info-template">
  <div class="want_delete_popup">
    <div class="want_delete_white">
      <p><#= message #></p>
      <span class="ok_no_button">
        <a class="no_button colorbox-close" href="javascript:void(0)">Close</a>
      </span>
    </div>
  </div>
</script>