<script type="text/template" id="profile-detail-template">
  <div class="pp_tags_path middle_content">
    <div class="header_public_profile">
      <div class="pp_header_top">
        <div class="ava_public_profile">
          <img alt="<#= username #>" src="<#= avatar.thumb_big.url #>">
        </div>
        <div class="info_public_profile">
          <div class="show-hide-edit-panel">
            <div class="show-hide-edit-panel-display">
              <span class="pp_nickname"><#= username #></span>
            </div>
            <div class="show-hide-edit-panel-input hidden">
              <%= form_tag profiles_path(:format => 'json'), :method => 'put', :id => 'profile-form-username' do  %>
                <input type="text" name="profile[username]" value="<#= username #>">
              <% end %>
            </div>
          </div>
          <div class="show-hide-edit-panel">
            <div class="show-hide-edit-panel-display">
              <span class="pp_realname"><#= realname #></span>
            </div>
            <div class="show-hide-edit-panel-input hidden">
              <br/>
              <%= form_tag profiles_path(:format => 'json'), :method => 'put', :id => 'profile-form-realname' do  %>
                <input type="text" name="profile[realname]" value="<#= realname #>">
              <% end %>
            </div>
          </div>
        </div>
        <div class="pp_right_badge">
          <span class="no_margin_right big_badge">0</span>
        </div>
      </div>
      <div class="pp_header_middle">
        <div class="show-hide-edit-panel">
          <div class="show-hide-edit-panel-display">
            <p><#= bio #></p>
          </div>
          <div class="show-hide-edit-panel-input hidden">
            <br/>
            <%= form_tag profiles_path(:format => 'json'), :method => 'put', :id => 'profile-form-bio' do  %>
              <input type="text" name="profile[bio]" value="<#= bio #>">
            <% end %>
          </div>
        </div>
        <div class="show-hide-edit-panel">
          <div class="show-hide-edit-panel-display">
            <a href="<#= url #>"><#= url #></a>
          </div>
          <div class="show-hide-edit-panel-input hidden">
            <br/>
            <%= form_tag profiles_path(:format => 'json'), :method => 'put', :id => 'profile-form-url' do  %>
              <input type="text" name="profile[url]" value="<#= url #>">
            <% end %>
          </div>
        </div>
      </div>
      <div class="pp_send_message">
        <a href="javascript:void(0)">
          <span class="pp_inbox_icon">&nbsp;</span>
          Edit your public profile
        </a>
      </div>
    </div>
    <div class="pp_tab">
      <div class="pp_choice_button">
        <div class="pp_tabs">
          <a class="pp_link_tags" href=""><strong><#= _.uniq(tag_ids).length #></strong> Tags</a>
          <div class="pp_down_arrow" style="display: none;">
            <span>&nbsp;</span>
          </div>
        </div>
        <div class="pp_tabs">
          <a class="pp_link_jots" href=""><strong>2</strong> Jots</a>
          <div class="pp_down_arrow" style="display: none;">
            <span>&nbsp;</span>
          </div>
        </div>
        <div class="pp_tabs">
          <a class="pp_link_follows" href=""><strong>20</strong> Follows</a>
          <div class="pp_down_arrow" style="display: none;">
            <span>&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="pp_people_tags">
      <div class="pp_people_tags_head">
        <ul>
          <li>
            <span class="pp_tags_icon"></span>
            <span class="pp_tags_text">tags</span>
          </li>
          <li>
            <span class="pp_jots_icon"></span>
            <span class="pp_tags_text">jots</span>
          </li>
          <li>
            <span class="pp_follows_icon"></span>
            <span class="pp_tags_text">follows</span>
          </li>
        </ul>
      </div>
      <div id="scrollbar1" class="pp_tags_scroll">
        <div class="scrollbar" style="height: 255px;">
          <div class="track" style="height: 255px;">
            <div class="thumb" style="top: 0px; height: 147.449px;">
              <div class="end">
              </div>
            </div>
          </div>
        </div>
        <div class="viewport">
          <div class="overview" style="top: 0px;">
            <ul>
              <li>
                <div class="unfollow_not_mute_not">
                  <span>Incognito</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="follow_act_mute_not">
                  <span>Ewean</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="follow_act_unmute_act">
                  <span>Thai</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="unfollow_not_unmute_act">
                  <span>Random</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="follow_act_mute_act">
                  <span>Mordor</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="follow_not_mute_not">
                  <span>Untagged</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="unfollow_not_mute_not">
                  <span>Incognito</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="follow_act_mute_not">
                  <span>Ewean</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="follow_act_unmute_act">
                  <span>Thai</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="unfollow_not_unmute_act">
                  <span>Random</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="follow_act_mute_act">
                  <span>Mordor</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
              <li>
                <div class="follow_not_mute_not">
                  <span>Untagged</span>
                </div>
                <div class="pp_tag_counts">
                  <span>450 jots</span>
                </div>
                <div class="pp_tag_followers">
                  <span>237 people</span>
                </div>
                <div class="pp_follow_mute">
                  <a href="">Delete</a>
                  <span>.</span>
                  <a class="edit_manage_link" href="">Manage</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="pp_people_tags">
      <div class="pp_people_tags_head">
        <span class="pp_people_name">
          <span class="left">Other tags</span>
        </span>
      </div>
      <div class="pp_other_tags_content">
        <ul>
          <li>
            <a href="">otomotif</a>
          </li>
          <li>
            <a href="">barkersz</a>
          </li>
          <li>
            <a href="">winnerao</a>
          </li>
          <li>
            <a href="">somethinguncommonfromyourmind</a>
          </li>
          <li>
            <a href="">deadterrorist</a>
          </li>
          <li>
            <a href="">ironman4</a>
          </li>
          <li>
            <a href="">casssandra</a>
          </li>
          <li>
            <a href="">OmarSyareef</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="no_margin_bottom hot_jot_path">
      <div class="hot_stuff_header">
        <div class="jot_left">
          <span class="orange_jots_icon">&nbsp;</span>
          <span class="orange_jots">Jots</span>
          <span class="clear"></span>
        </div>
        <div class="jot_right">
          <ul>
            <li>
              <a href="">
                <span class="most_faved_icon">&nbsp;</span>
                <span class="most_faved">most faved</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="most_comment_icon">&nbsp;</span>
                <span class="most_comment">most comment</span>
              </a>
            </li>
            <li class="no_padding_right">
              <a class="orange_more" href="">More</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="previous_icon">
          &nbsp;
          <a href="" class="previous" style="display: none;">&nbsp;</a>
        </div>
        <div class="hot_jot">
          <div class="hot_jot_header people_post">
            <div class="hot_jot_width header_result">
              <img alt="" src="/assets/marleene.png">
              <span>Phig</span>
              <ul>
                <li class="fire">&nbsp;</li>
                <li class="pp_header_result">6 hours ago</li>
                <li class="pp_header_result">.</li>
                <li class="pp_header_result">rejotted by 25 peoples</li>
                <li class="orange_star">&nbsp;</li>
              </ul>
            </div>
            <div class="down-sign"></div>
            <div class="clear"></div>
          </div>
          <div class="container-result">
            <h2 class="pp_jot_modify">get the DVD here &gt; <a class="blue_link" href="">http://bit.ly/asf3ty</a></h2>
          </div>
          <div class="no_padding_bottom hot_jot_incognito tag-incognito">
            <a href="" class="attach_icon">&nbsp;</a>
            <div class="pp_url_add">
              <div class="own_timeline_jot_right">
                <a class="pp_attachtment own_upload_attachment" href="">
                  <span class="attachment_timeline_icon"></span>
                  <span class="attachment_timeline_text">http://bit.ly/aspd3</span>
                </a>
                <span class="pp_uploaded_by uploaded_by">uploaded via lockerz</span>
              </div>
            </div>
          </div>
          <div class="hot_jot_incognito tag-incognito">
            <span class="hot_jot_incognito_icon">&nbsp;</span>
            <div class="button_tag">
              <ul>
                <li>
                  <span class="button_tagText">KenyeWest</span>
                  <span class="not_activeSearch"></span>
                </li>
                <li>
                  <span class="button_tagText">RapDVD</span>
                  <span class="not_activeSearch"></span>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
          <div class="hot_jot_comment comment">
            <span class="blue_refresh_icon">&nbsp;</span>
            <div class="hot_stuff_comment_line comment_line">
              <div class="pp_uploaded_by left">
                <ul>
                  <li class="left"><a href="#">16 comments</a></li>
                  <li class="left">.</li>
                  <li class="left"><a href="#">View all</a></li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="next_icon">
          &nbsp;
          <a href="" class="next" style="display: none;">&nbsp;</a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="hot_media_path">
      <div class="hot_stuff_header">
        <div class="media_left">
          <span class="orange_media_icon">&nbsp;</span>
          <span class="orange_media">Media</span>
          <span class="clear"></span>
        </div>
        <div class="media_right">
          <ul>
            <li>
              <a href="">
                <span class="most_faved">All</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="pictures_icon">&nbsp;</span>
                <span class="most_comment">Pictures</span>
              </a>
            </li>
            <li class="orange_dot">.</li>
            <li>
              <a href="">
                <span class="videos_icon">&nbsp;</span>
                <span class="most_comment">Videos</span>
              </a>
            </li>
            <li class="no_padding_right">
              <a class="orange_more" href="">More</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="no_margin_bottom hot_media_path">
        <div class="hot_media">
          <div class="previous_media previous_icon">
            &nbsp;
            <a href="" class="previous" style="display: none;">&nbsp;</a>
          </div>
          <ul>
            <li class="other_media">
              <span>
                <a class="media_icon" href="">&nbsp;</a>
                <a class="play_button" href="">&nbsp;</a>
                <a rel="image_popup" href="images/video_1popup.png" class="cboxElement"><img alt="" src="/assets/video_1.png"></a>
              </span>
            </li>
            <li class="other_media">
              <span>
                <a class="picture_icon" href="">&nbsp;</a>
                <a rel="image_popup" href="images/picture_1popup.png" class="cboxElement"><img alt="" src="/assets/picture_1.png"></a>
              </span>
            </li>
            <li class="other_media">
              <span>
                <a class="picture_icon" href="">&nbsp;</a>
                <a rel="image_popup" href="images/picture_2popup.png" class="cboxElement"><img alt="" src="/assets/picture_2.png"></a>
              </span>
            </li>
            <li class="other_media no_margin_right">
              <span>
                <a class="media_icon" href="">&nbsp;</a>
                <a class="play_button" href="">&nbsp;</a>
                <a rel="image_popup" href="images/video_2popup.png" class="cboxElement"><img alt="" src="/assets/video_2.png"></a>
              </span>
            </li>
          </ul>
          <div class="previous_media next_icon">
            &nbsp;
            <a href="" class="next" style="display: none;">&nbsp;</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</script>
