<script type="text/template" id="sidebar-template">
  <div class="my_nest">
    <div class="portlet_tosca">
      <a href="" class="img_left"></a>
      <span class="bg_1Text">My Nest</span>
      <span class="img_right link-to-nest"></span>
    </div>
    <div class="portlet_dark">
      <span class="count_nest">Empty</span>
    </div>
    <div class="portlet_startSearch">
      <p>this is where you can costumize your saved search and tags.</p>
      <span class="img"></span>
      <span class="text">Start Searching!</span>
    </div>
    <div class="portlet_darkBottom"></div>
    <div class="clear"></div>
  </div>
  <div class="tell_jotky">
    <div class="portlet_BlueSky">
      <div class="left">
        <p>Tell everyone about</p>
        <span class="white_logo"></span>
      </div>
      <div class="right">
        <span class="smart_object"></span>
      </div>
      <div class="clear"></div>
    </div>
    <span class="arrow"></span>
    <div class="portlet_fb">
      <div class="top"></div>
      <div class="middle">
        <!-- FACEBOOK -->
      </div>
      <div class="bottom"></div>
      <div class="clear"></div>
    </div>
    <div class="portlet_twitter">
      <div class="top"></div>
      <div class="middle">
        <!-- a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script-->
      </div>
      <div class="bottom"></div>
      <div class="clear"></div>
    </div>
    <div class="portlet_google">
      <div class="top"></div>
      <div class="middle">
        <!-- GOOGLE PLUS -->
      </div>
      <div class="bottom"></div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <# if(_.isEmpty(current_user)){ #>

  <div class="favorites">
    <div class="portlet_favorites">
      <span class="star"></span>
      <span class="fav_text">Favorites</span>
    </div>
    <div class="portlet_favValue">
      <span class="text">you haven't faved any jots yet</span>
    </div>
    <div class="portlet_favBottom"></div>
    <div class="clear"></div>
  </div>

  <# }else{ #>

  <div class="favorites_logged">
    <div class="portlet_favorites_logged_first">
      <span class="star_logged">&nbsp;</span>
      <span class="fav_text_logged">Favorites</span>
    </div>
    <div id="main-sidebar-favorites">
    </div>
    <div class="portlet_favBottom_last">
      <a href="#!/favorites">see all faved</a>
    </div>
  </div>

  <# } #>
</script>
