<div class="left_menu grid_2">&nbsp;
  <div class="side-left">
    <ul>
      <li class="leftMenu_searchResult">
        <a href="" onmouseout="heal()" class="side-menu-top-left">
          <label>Jots&nbsp;</label>
          <span class="jots-icon">&nbsp;</span>
        </a>
        <span class="triangle" style="display:none" onmouseout="heal()">&nbsp;</span>
      </li>
      <li class="leftMenu_searchResult">
        <a href="" onmouseout="heal()" >
          <label>People&nbsp;</label>
          <span class="people-icon">&nbsp;</span>
        </a>
        <span class="triangle" style="display:none" onmouseout="heal()">&nbsp;</span>
      </li>
      <li class="leftMenu_searchResult">
        <a href="" onmouseout="heal()" >
          <label>Media&nbsp;</label>
          <span class="media-icon">&nbsp;</span>
        </a>
        <span class="triangle" style="display:none" onmouseout="heal()">&nbsp;</span>
      </li>
      <li class="leftMenu_searchResult">
        <a href="" onmouseout="heal()" class="side-menu-bottom-left">
          <label>Places&nbsp;</label>
          <span class="places-icon">&nbsp;</span>
        </a>
        <span class="triangle" style="display:none" onmouseout="heal()">&nbsp;</span>
      </li>
    </ul>
  </div>
</div>


<div class="main_content grid_11">
  
  <div class="clear"></div>

  <h1>GOODIES</h1>
</div>