<script type="text/template" id="main-magicbox-jot-input-more-content-template">
  <div class="jot_more_content clearfix">
    
    <div class="more_content_top">
      <span class="add_more_icon">&nbsp;</span>
      <span class="add_more_text">Add more content</span>
    </div>
    <div class="more_content_bottom">
      <%= text_area_tag 'jot[detail]', nil, :id => 'jot-input-detail' %>
      <span class="more_content_count jot_count" id="jot-input-more-text-length">512</span>
    </div>

  </div>
</script>