<script id="main-magicbox-profile-url" type="text/template">

   <div class="url_tag">
            <span>URL</span>
            <% if @current_user['url'].present? %>
              <a id="urlContent" href="#" class="empty_url_text"><%=  @current_user['url'] %></a>
            <% else %>
              <a id="urlContent" href="#" class="empty_url_text">click to edit your URL</a>
            <% end %>

          </div>
          <div class="clear"></div>
          
</script>
