<script  id="main-home-detail-template" type="text/template">
 <div class="main_content home_detail_content">

 <div class="jot_detail_head clearfix">
              <div class="jot_detail_left">
                <img src="/assets/jot-detai-ava.png" alt="" />
                <div class="jot_detail_right">
                  <span class="jot_detail_nickname">MetroFx</span>
                  <span class="jot_detail_realname">Eko Prasetyo</span>
                </div>
              </div>

 </div>
   <div class="jot-title-heading clearfix">
     <h2>Vector Bussiness Illustration : EPS | JPEG Preview | 5.24 MB <a href="#">http://bit.ly/c30P</a></h2>

   </div>


    <div class="jot_detail_upper_pannel_path">
              <div class="jot_detail_upper_pannel">
  
                <div class="upper_new_jots">
                       <span class="dateJots">Saturday, May 07, 2011 via twitter</span>
                  <ul class="upper_pannel_jots">
                    <li><span class="upper_label">RSS</span></li>
                    <li>
                      <a href="" class="upper_rss"></a>
                    </li>
                     <li class="no_margin_top thumbs_separator">&nbsp;</li>
                     <li><span class="upper_label">Share :</span></li>
                    <li>
                      <a href="" class="upper_fb"></a>
                    </li>
                    <li>
                      <a href="" class="upper_twitter"></a>
                    </li>
                    <li class="no_margin_top thumbs_separator">&nbsp;</li>
                    <li>
                      <a href="" class="upper_thumbup"></a>
                      <span class="upper_thumb_counts">75435</span>
                    </li>
                    <li>
                      <a href="" class="upper_thumbdown"></a>
                      <span class="upper_thumb_counts">65</span>
                    </li>
                    <li class="no_margin_top thumbs_separator">&nbsp;</li>
                    <li>
                      <a href="" class="upper_rejot"></a>
                    </li>
                    <li>
                      <a href="" class="upper_delete"></a>
                    </li>
                  </ul>
                  
                </div>

              </div>
    </div>
    
      <div class="upper_body">
                <p>
                  In accordance with our Comment Policy, we encourage comments that are on topic, 
                  relevant and to-the-point. We will remove comments that include profanity, personal attacks, 
                  racial slurs, threats of violence, or other inappropriate material that violates our Terms and Conditions, 
                  and personal attacks, racial slurs, threats of violence, or other inappropriate material that violates our Terms and Conditions, and.
                </p>
       </div>

            <div class="upper_attachment_path">
              <div class="heading-jots-attach clearfix"><span class="attach_icon" href=""></span> <h4>Attachment</h4></div>
                <div class="upper_attachment_top">
                  <div class="upper_attachment_left">
                    <a href=""><img src="/assets/jot-detail-attachment.png" alt="" /></a>
                    <div class="upper_video_info">
                      <div class="left">
                        <span class="upper_video_icon"></span>
                      </div>
                      <div class="left">
                        <span class="upper_video_title">Insane Truck Driver</span>
                        <span class="upper_video_uploaded">via youtube</span>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="upper_attachment_bottom">
                  <div class="upper_video_info">
                    <div class="left">
                      <span class="upper_video_icon"></span>
                    </div>
                    <div class="left">
                      <span class="upper_video_title">Insane Truck Driver</span>
                    </div>
                  </div>
                     <div class="upper_width_left">
                    <span class="upper_video_description">Short animated 8-bt movie made by art st...</span>
                    <a href="" class="upper_video_url">http://youtube.com/watch?wjfi2i</a>
                    <span class="no_padding_left upper_video_uploaded">via youtube</span>
                  </div>
                </div>
              </div>

            <div class="upper_button_tags button_tag">
              <div class="heading-jots-attach clearfix"><span class="hot_jot_incognito_icon"></span> <h4>Tags</h4></div>
                <ul class="photo_reply_comment">
                  <li>
                    <span class="button_tagText">MusicVid</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li>
                    <span class="button_tagText">8-Bit</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li>
                    <span class="button_tagText">Cartoon</span>
                    <span class="not_activeSearch"></span>
                  </li>
                </ul>
                <div class="clear"></div>
              </div>

            <div class="jot_detail_lower_pannel_path">
              <div class="jot_detail_lower_pannel">
                <div>
                  <ul class="lower_pannel_jots">
                    <li><span class="upper_label">RSS</span></li>
                    <li>
                      <a href="" class="upper_rss"></a>
                    </li>
                     <li class="no_margin_top thumbs_separator">&nbsp;</li>
                     <li><span class="upper_label">Share :</span></li>
                    <li>
                      <a href="" class="upper_fb"></a>
                    </li>
                    <li>
                      <a href="" class="upper_twitter"></a>
                    </li>
                    <li class="no_margin_top thumbs_separator">&nbsp;</li>
                    <li>
                      <a href="" class="upper_thumbup"></a>
                      <span class="upper_thumb_counts">75435</span>
                    </li>
                    <li>
                      <a href="" class="upper_thumbdown"></a>
                      <span class="upper_thumb_counts">65</span>
                    </li>
                    <li class="no_margin_top thumbs_separator">&nbsp;</li>
                    <li>
                      <a href="" class="upper_rejot"></a>
                    </li>
                    <li>
                      <a href="" class="upper_delete"></a>
                    </li>
                  </ul>
                 
                </div>

              </div>
            </div>
<div class="lower_comment comment">
   <div class="photo_reply_comment clearfix">
                    <div class="photo_reply_message">
                      <div class="heading-jots-attach no_margin clearfix"><span class="most_comment_icon" href=""></span><h4>Reply</h4></div>
                      <span class="input_replay">
                        <span class="reply_message_photo no_margin_right messages_right_path">
                          <img src="/assets/avatar-metrofx.png" alt="" />
                        </span>
                        <span class="textarea_reply">
                          <span class="triangle_inbox_right">&nbsp;</span>
                          <textarea rows="" cols="" class="textarea_comment"></textarea>
                        </span>
                      </span>
                      <a href="" class="replay_button right_reply">Reply</a>
                    </div>




   </div>
  <div class="photo_reply_comment  reply_list">
      
                  <div class="comment_line">
                    <div class="left">
                      <ul>
                        <li class="left"><a href="#">16 comments</a></li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul>
                        <li class="left"><a href="#">Newest</a></li>
                        <li class="left">.</li>
                        <li class="left"><a href="#">Old</a></li>
                      </ul>
                    </div>
                    
                  </div>

                    <!-- LIST COMMENT -->
                    <div id="scrollbar1" class="comment-content">
                    <div class="scrollbar" style="height: 255px;">
                      <div class="track" style="height: 255px;">
                        <div class="thumb" style="top: 0px; height: 117.799px;">
                          <div class="end">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="viewport">
                      <div class="overview" style="top: 0px;">
                        <ul>
                          <li class="people_comments">
                            <div class="left">
                              <img alt="" src="/assets/abdu-avatar.png">
                            </div>
                            <div class="content-text content-jots">
                              <a class="name" href="#">Abduzeedo</a>
                              <div class="right time time_com">
                                3 hour ago
                                <div class="action_menu_hide" style="display: none;">
                                  <ul>
                                    <li>
                                      <a class="comment_hide" href="">
                                        <label>hide</label>
                                        <span class="hide_icon">&nbsp;</span>
                                      </a>
                                    </li>
                                    <li>
                                      <a class="comment_flag" href="">
                                        <label>flag as</label>
                                        <span class="flag_icon">&nbsp;</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <a class="comment_down_arrow" href="" style="display: none;">&nbsp;</a>
                              </div>
                              <div class="clear"></div>
                              <p>man, please re-up the link. seems it was deleted :( </p>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="people_comments">
                            <div class="left">
                              <img alt="" src="/assets/abdu-avatar.png">
                            </div>
                            <div class="content-text content-jots">
                              <a class="name" href="#">Abduzeedo</a>
                              <div class="right time time_com">
                                3 hour ago
                                <div class="action_menu_hide" style="display: none;">
                                  <ul>
                                    <li>
                                      <a class="comment_hide" href="">
                                        <label>hide</label>
                                        <span class="hide_icon">&nbsp;</span>
                                      </a>
                                    </li>
                                    <li>
                                      <a class="comment_flag" href="">
                                        <label>flag as</label>
                                        <span class="flag_icon">&nbsp;</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <a class="comment_down_arrow" href="" style="display: none;">&nbsp;</a>
                              </div>
                              <div class="clear"></div>
                              <p>Lorem ipsum dolor </p>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="people_comments">
                            <div class="left">
                              <img alt="" src="/assets/avatar-metrofx.png">
                            </div>
                            <div class="content-text content-jots">
                              <a class="name" href="#">Abduzeedo</a>
                              <div class="right time time_com">
                                2 hour ago
                                <div class="action_menu_hide" style="display: none;">
                                  <ul>
                                    <li>
                                      <a class="comment_hide" href="">
                                        <label>hide</label>
                                        <span class="hide_icon">&nbsp;</span>
                                      </a>
                                    </li>
                                    <li>
                                      <a class="comment_flag" href="">
                                        <label>flag as</label>
                                        <span class="flag_icon">&nbsp;</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <a class="comment_down_arrow" href="" style="display: none;">&nbsp;</a>
                              </div>
                              <div class="clear"></div>
                              <p><a class="mail" href="#">@Abduzeedo </a>re-uploaded, enjoy! :)</p>
                            </div>
                            <div class="clear"></div>
                          </li>
                         
                         
                          
                          
                         
                          
                         
                         
                          
                        </ul>

                      </div>
                    </div>
                  </div>
                    <!-- LIST COMMENT -->






  </div>
                
 </div>

<div class="clear"></div>
</div>

</script>