<script  id="main-about-template" type="text/template">
 <div class="main_content about_content">
<div class="about_tab_header">
              <ul>
                <li class="about_head_left"><a href="" class="about_active about_default">About</a></li>
                <li class="about_head_middle"><a href="" class="what_jotky_default">What Jotky Can DO For You?</a></li>
                <li class="about_head_right"><a href="" class="faq_default">FAQ</a></li>
              </ul>
            </div>
            <div class="about_jotky">
              <div class="about_tab_body">
                <div class="about_tab_body_top">
                  <span class="about_jotky_tittle">About Jotky</span>
                  <span class="about_jotky_icon"></span>
                  <div class="clear"></div>
                </div>
                <div class="about_tab_body_middle">
                  <p class="first_paragraph">
                    Jotky is a crowd contributed social network platform that allows you to share interesting topic.
                    Choose what topic to follow and its content filtering and cloud tag system will find you relevant topic only.
                  </p>
                  <p class="second_paragraph">
                    Users contribution called Jots. It can be news, share links or whatever they have in mind.
                    Complete your Jots by defining them with tags and attaching links or media.
                    Published Jots are added to stream and you can go to the main page to view and filter it based on your preference.
                    Notes and users are geo-located. News stream will be displayed in real time and post notes can be shared via integrated websites.
                    Users can also chat in its forum, share, download, upload files, videos, audio, pictures, as well as producing relevant search results that is most important to them.
                  </p>
                  <p class="third_paragraph">
                    Users contribution called Jots. It can be news, share links or whatever they have in mind.
                    Complete your Jots by defining them with tags and attaching links or media. Published Jots are added to stream and you can go to the main page to view and filter it based on your preference.
                    Notes and users are geo-located. News stream will be displayed in real time and post notes can be shared via integrated websites.
                    Users can also chat in its forum, share, download, upload files, videos, audio, pictures, as well as producing relevant search results that is most important to them.
                  </p>
                </div>
                <div class="clear"></div>
              </div>
              <div class="about_tab_body_bottom">
                <ul>
                  <li><a href="" class="what_jotky_bottom_link">What jotky can do for you</a></li>
                  <li><a href="" class="faq_bottom_link">FAQ</a></li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
</div>
</script>