<script type="text/template" id="main-magicbox-jot-input-tag-template">
  <div class="jot_tags_post clearfix">
    <%= form_tag jots_path, :id => '#main-magicbox-jot-input-tag-form', :class => 'main-magicbox-jot-tag-form' do %>
    <div class="jot_top_tags">
      <span class="top_tags_style jot_tags_icon">&nbsp;</span>
      <span class="top_tags_text">Tags of this post</span>
    </div>
    <div class="jot_middle_tags">
      <ul>
        <li class="Lev_1">
          <span class="active_choiceTexts choice_text">MusicVid</span>
          <span class="jot_middle_tags_active"></span>
        </li>
        <li class="Lev_1">
          <span class="active_choiceTexts choice_text">8Bit</span>
          <span class="jot_middle_tags_active"></span>
        </li>
        <li class="Lev_1 no_padding_right">
          <span class="active_choiceTexts choice_text">Cartoon</span>
          <span class="jot_middle_tags_active"></span>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="jot_bottom_tags"></div>
    <% end %>
  </div>
</script>