<script type="text/template" id="main-magicbox-jot-input-clip-template">
  <div class="jot_upload_media">
    <div class="upload_media_top">
      <span class="upload_media">&nbsp;</span>
      <span class="add_more_text">Upload Media or Add URL</span>
      <a href="" class="attach_more_things">Attach more things</a>
    </div>
    <div class="upload_media_bottom">
      <form action="">
        <div>
          <div class="submit_upload_media">
            <input type="text" />
            <input type="submit" value="Clip"/>
          </div>
          <div class="submit_upload_media">
            <img alt="" src="/assets/loading-avatar.png" class="avatar_loading"/>
            <span class="up_img_info">Attaching pretty.jpg..</span>
          </div>
          <div class="image_upload_path_style">
            <div class="image_upload_path">
              <img alt="" src="/assets/img-up.png" class="attach_image" />
              <span class="left">
                <a href="" class="img_tittle">pretty.jpg</a>
                <input type="text" class="image_upload_input" />
                <br class="clear" />
                <span class="img_resolution">original size 1068 x 1600</span>
              </span>
              <a href="" class="close_img_path">x</a>
            </div>
            <div class="want_delete_popup">
              <div class="want_delete_white">
                <p>Do you want to delete this?</p>
                <span class="ok_no_button">
                  <a href="" class="but_ok_up">Ok</a>
                  <a href="" class="no_button">No</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clear"></div>
  </div>
</script>