<script id="main-listing-jot-item-template" type="text/template">
  <div class="search_result_container">
    <div class="people_post">
      <div class="header_post_jot">
        <img src="/assets/avatar.png" alt="">
        <span><#= user.username #></span>
        <div class="header_yellowribon"></div>
        <ul>

          <li><a href="#"><#= created_at #></a></li>
          <li><a href=""><span class="header_thumbup"></span> text</a></li>
          <li><a href=""><span class="header_thumbdown"></span>text</a></li>
          <li><a href=""><span class="header_rejot"></span>Text</a></li>
          <li class="lastli"><a href="#" class="link-to-fav <# if(faved){#> link-to-fav-active <# } #>"><span class="header_fav"></span></a></li>

        </ul>
      </div>
      <div class="down-sign"></div>
      <div class="clear"></div>
    </div>
    <!-- div class="own_people_post">
      <div class="own_header_result header_result">
        <img src="<#= user.avatar.thumb_small.url #>" alt="<#= user.username #>">
        <span><#= user.username #></span>
        <ul>
          <li class="thumbs_separator">
            &nbsp;
          </li>
          <li class="thumbs_ups">
            <a href="#" class="link-to-thumbsup"><span class="thumbs_up"></span><span class="thumbsup-counter"><#= _.size(user_thumbs_up_ids) #></span></a>
          </li>
          <li class="no_padding_left">
            <a href="#" class="link-to-thumbsdown"><span class="thumbs_down"></span><span class="thumbsdown-counter"><#= _.size(user_thumbs_down_ids) #></span></a>
          </li>
          <li class="thumbs_separator">
            &nbsp;
          </li>
          <li class="no_padding_left">

            <# if(user_rejoters.length > 0){ #>
            <a href="/jots/<#= _id #>/rejot.json" class="link-to-rejot">rejot | rejotted by : <#= user_rejoters[0].username #></a>
            <# }else{ #>
            <a href="/jots/<#= _id #>/rejot.json" class="link-to-rejot">rejot</a>
            <# } #>


          </li>
          <li class="thumbs_separator">
            &nbsp;
          </li>
          <li class="no_padding_left">
            <# if(faved){ #>
            <a href="#" class="link-to-fav">faved</a>
            <# }else{ #>
            <a href="#" class="link-to-fav">fav</a>
            <# } #>
          </li>
          <li class="thumbs_separator">
            &nbsp;
          </li>
          <li class="cross link-to-delete">
          </li>
        </ul>
      </div>
      <div class="own-down-sign down-sign"></div>
      <div class="clear"></div>
    </div -->
    <div class="container-result">
      <h2><#= title #></h2>
      <p class="hour"><#= created_at #> - <a href="/jots/<#= _id #>" class="link-to-detail-jot">detail</a></p>

      <# if(detail){ #>
      <div class="post">
        <span class="post-icon">&nbsp;</span>
        <p>
          <#= detail #>
        </p>
      </div>
      <# } #>

      <# if(locations.length > 0){ #>
      <div class="own_jot post">
        <span class="post_location">&nbsp;</span>
        <# _.each(locations, function(location){ #>
        <a href="" class="own_location"><img src="/assets/own-location.png" alt=""></a>
        <span class="location_info">
          <span class="display_block tittle_location"><#= location.name #></span>
          <span class="road_location">Jl. Warung Buncit 09A,</span>
          <span class="no_padding_top country_location">Jakarta Selatan, Indonesia</span>
        </span>
        <# }) #>
      </div>
      <# } #>

      <# if(attachments.length > 0){ #>
      <div class="own_jot post">
        <span class="attach_img_icon">&nbsp;</span>
        <# _.each(attachments, function(attachment){ #>
        <span class="own_upload_media"><img alt="" src="images/img-own-timeline.png"></span>
        <span class="location_info">
          <span class="own_up_picture">&nbsp;</span>
          <span class="image_file_name"><#= attachment.name #></span>
          <span class="image_url">http://tinypic.com/wjfi2i</span>
          <span class="uploaded_by">uploaded via lockerz</span>
        </span>
        <# }) #>
      </div>
      <# } #>

      <# if(tags.length > 0){ #>
      <div class="tag-incognito">
        <span class="own_tags_icon">&nbsp;</span>
        <div class="button_tag">
          <ul>
            <# _.each(tags, function(tag){ #>
            <li>
              <span class="button_tagText"><#= tag.name #></span>
              <span class="not_activeSearch"></span>
            </li>
            <# }) #>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <# } #>

    </div>
    <div class="clear"></div>
  </div>
</script>