<script type="text/template" id="main-magicbox-search">
  <div class="search jot-search-content">
    <input type="text" placeholder="Search everything" id="jot-search-field" value=""/>
    <input type="submit" value="" id="gray_search" />
    <!-- SEARCH PEOPLE AUTO COMPLETE BOX -->

    <div class="people_result_dropdwn" style="display:none" id="r-people-result-dropdwn">
      <div class="result_dropdwn_top">
        <span>People</span>
      </div>
      <div class="result_dropdwn_content">
        <ul>
          <li>
            <a href="#" class="r-people-result-dropdwn-item">
              <span class="dropdwn_content_photo">
                <img src="/assets/ava-farrukh.png" alt="" />
              </span>
              <span class="dropdwn_content_text"><strong>Far</strong>rukh</span>
            </a>
          </li>
          <li>
            <a href="#" class="r-people-result-dropdwn-item">
              <span class="dropdwn_content_photo">
                <img src="/assets/ava-farter.png" alt="" />
              </span>
              <span class="dropdwn_content_text"><strong>Far</strong>ter</span>
            </a>
          </li>
          <li>
            <a href="#" class="r-people-result-dropdwn-item">
              <span class="dropdwn_content_photo">
                <img src="/assets/ava-farah.png" alt="" />
              </span>
              <span class="dropdwn_content_text">FAntameRah</span>
            </a>
          </li>
        </ul>
      </div>
      <a href="" class="result_dropdwn_middle">
        More People Result
      </a>
      <div class="result_dropdwn_bottom">
        <form action="">
          <div>
            <label for="auto_comp">turn off auto-complete</label>
            <input type="checkbox" name="auto-complete" id="auto_comp" />
          </div>
        </form>
      </div>
      <div class="clear"></div>
    </div>

    <!-- END OF SEARCH PEOPLE AUTO COMPLETE BOX -->
    <div class="clear"></div>
  </div>
</script>