<script type="text/template" id="main-magicbox-jot-input-more-content-template">
  <div class="jot_more_content">
    <div class="more_content_top">
      <span class="add_more_icon">&nbsp;</span>
      <span class="add_more_text">Add more content</span>
    </div>
    <div class="more_content_bottom">
      <textarea cols="" rows=""></textarea>
      <span class="more_content_count jot_count">512</span>
    </div>
    <div class="clear"></div>
  </div>
</script>