<script id="main-magicbox-navigation-template" type="text/template">
  <div class="top_button">
    <a href="#" class="search_icon" id="r-search-tab">
      <span class="img_1"></span>
      <span class="search_text">Search</span>
      <span class="img_2"></span>
    </a>
    <a href="#" class="jot_icon" id="r-jot-tab">
      <span class="img_1"></span>
      <span class="jot_text">Jot</span>
      <span class="img_2"></span>
    </a>
    <a href="#" class="sign_up" id="signUp">
      Sign up or Login
    </a>
    <div class="clear"></div>
  </div>
</script>
