<script type="text/template" id="main-magicbox-jot-input-clip-template">
<%#= form_tag files_path, :id => 'main-magicbox-jot-input-clip-form', :class => 'main-magicbox-jot-input-form' do %>
    <div class="jot_upload_media clearfix">
  <%#= session_field_tag %>
      <div class="upload_media_top">
        <span class="upload_media">&nbsp;</span>
        <span class="add_more_text">Upload Media or Add URL</span>
        <!-- a href="" class="attach_more_things">Attach more things</a -->
      </div>
      <div class="upload_media_bottom">
        <div class="submit_upload_media">
  <%#= text_field_tag 'jot[attachment_uploaded]', 1, :id => 'jot-input-field-attachment-uploaded', :class => 'invisible-2' %>
  <%#= file_field_tag 'attachment', :id => 'jot-input-field-attachment' %>
  <%= text_field_tag 'attachments', nil, :class => "add_own_location no-float", :id => "field-to-attachment", :autocomplete => :off %>
        </div>

        <div class="image_upload_path_style" id="main-magicbox-jot-input-clip-uploaded-files">
        </div>
      </div>

    </div>
<%# end %>
</script>