<script  id="main-about-template" type="text/template">
 <div class="main_content about_content">
<div class="about_tab_header">
              <ul>
                <li class="about_head_left"><a href="" class="about_active about_default">About</a></li>
                <li class="about_head_middle"><a href="" class="what_jotky_default">What Jotky Can DO For You?</a></li>
                <li class="about_head_right"><a href="" class="faq_default">FAQ</a></li>
              </ul>
            </div>
            <div class="about_jotky">
              <div class="about_tab_body">
                <div class="about_tab_body_top">
                  <span class="about_jotky_tittle">About Jotky</span>
                  <span class="about_jotky_icon"></span>
                  <div class="clear"></div>
                </div>
                <div class="about_tab_body_middle">
                  <p class="first_paragraph">
                    Jotky is a crowd contributed social network platform that allows you to share interesting topic.
                    Choose what topic to follow and its content filtering and cloud tag system will find you relevant topic only.
                  </p>
                  <p class="second_paragraph">
                    Users contribution called Jots. It can be news, share links or whatever they have in mind.
                    Complete your Jots by defining them with tags and attaching links or media.
                    Published Jots are added to stream and you can go to the main page to view and filter it based on your preference.
                    Notes and users are geo-located. News stream will be displayed in real time and post notes can be shared via integrated websites.
                    Users can also chat in its forum, share, download, upload files, videos, audio, pictures, as well as producing relevant search results that is most important to them.
                  </p>
                  <p class="third_paragraph">
                    Users contribution called Jots. It can be news, share links or whatever they have in mind.
                    Complete your Jots by defining them with tags and attaching links or media. Published Jots are added to stream and you can go to the main page to view and filter it based on your preference.
                    Notes and users are geo-located. News stream will be displayed in real time and post notes can be shared via integrated websites.
                    Users can also chat in its forum, share, download, upload files, videos, audio, pictures, as well as producing relevant search results that is most important to them.
                  </p>
                </div>
                <div class="clear"></div>
              </div>
              <div class="about_tab_body_bottom">
                <ul>
                  <li><a href="" class="what_jotky_bottom_link">What jotky can do for you</a></li>
                  <li><a href="" class="faq_bottom_link">FAQ</a></li>
                </ul>
              </div>
            </div>


     <!-- WHAT JOTKY CAN DO FOR YOU -->

          <div class="what_jotky">
            <div class="what_jotky_tittle">What Jotky Can Do For You</div>
            <div class="about_jotky_body">
              <div class="what_jotky_icon">&nbsp;</div>
              <div class="what_jotky_text">
                <p class="no_margin_top">
                  Jotky is a versatile way to connect with friends, share photos, music, videos, thoughts, news, documents, search for,
                  upload and download and anything at all you'd like to share with your world.
                </p>
                <p>
                  Whether it's to share pictures or videos, connect with long long lost school mates,
                  updating your status (Jotky lets users updates statuses on all integrated social networking platforms),
                  letting friends know where you are, loking for a telephone number for the nearest pizza parlor to just
                  Jotting down what you have in mind. Every aspect of a social networking platform and more is made accessible through Jotky.
                </p>
                <p>
                  Forum 2.0 function will also allow users to post, view and sell items,
                  define them with tags for other users to search for, basing results on keywords and geographical locatios.
                  Making Jotky's forum efficient for buying and selling. As well as its basic forum 2.0 functions.
                </p>
                <p>
                  Homepage is a great place to go to find out what we're up to, as well as how to use the site.
                  You can also <a href="">watch Jotky tutorial video</a> series to learn how to use our basic features.
                </p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="about_tab_body_bottom">
              <ul>
                <li><a href="" class="about_bottom_link">About</a></li>
                <li><a href="" class="faq_bottom_link">FAQ</a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>

          <!-- END OF WHAT JOTKY CAN DO FOR YOU -->



            <div class="clear"></div>
          </div>

</script>