<script id="main-listing-jot-template" type="text/template">
  <div id="main-listing-jot" class="jot_result middle_content">

    <div class="search_result_heading clearfix">
      <span class="blue_stream">&nbsp;</span>
      <h2>Stream</h2>
    </div>

    <div class="search_result_holder clearfix" id="main-listing-jot-item-holder">
      
    </div>
  </div>
</script>