<script id="main-magicbox-navigation-template" type="text/template">
  <div class="top_button" id="main-magicbox-navigation">
    <a href="#" class="search_icon main-magicbox-navigation-search-link">
      <span class="img_1 main-magicbox-navigation-link-icon-1"></span>
      <span class="search_text main-magicbox-navigation-link-text">Search</span>
      <span class="img_2 main-magicbox-navigation-link-icon-2"></span>
    </a>
    <a href="#" class="jot_icon main-magicbox-navigation-jot-link">
      <span class="img_1 main-magicbox-navigation-link-icon-1"></span>
      <span class="jot_text main-magicbox-navigation-link-text">Jot</span>
      <span class="img_2 main-magicbox-navigation-link-icon-2"></span>
    </a>
    <a href="#" class="sign_up main-magicbox-navigation-login-link">
      Sign up or Login
    </a>
    <div class="clear"></div>
  </div>
</script>