<script type="text/template" id="main-magicbox-search-result-tags-template">
  <div class="search_tab main_content">
    <div class="search_box">
      <div class="breadcrumb_search">
        <ul>
          <li>
            <a href="">Music</a>
            <span>&gt;</span>
            <a href="">Jazz</a>
            <span>&gt;</span>
            <a href="">Fourplay</a>
          </li>
        </ul>
      </div>
      <div class="search_results">
        <div class="left_arrow"></div>
        <div class="search_resultsContent">
          <div class="level_1">
            <ul>
              <li class="Lev_1">
                <span class="choice_text">Fourplay</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_1">
                <span class="choice_text">Incognito</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_1 no_padding_right">
                <span class="choice_text">Chaka</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="level_2">
            <ul>
              <li class="Lev_2">
                <span class="choice_text">Pop</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Jazz</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Rock</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Dance</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2 no_padding_right">
                <span class="choice_text">Folks</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="level_3">
            <ul>
              <li class="Lev_3">
                <span class="choice_text">Food</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Sports</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Fashion</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Music</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3 no_padding_right">
                <span class="choice_text">Books</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right_arrow"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</script>