<script type="text/template" id="main-magicbox-jot-input-location-template">
  <div class="jot_add_location clearfix">

    <div class="add_location_top">
      <span class="add_location_media">&nbsp;</span>
      <span class="add_more_text">Add location</span>
      <a href="" class="attach_more_location">Attach more location</a>
    </div>
    <div class="up_media_top">
      <div class="upload_media_bottom">
        <div class="clearfix">
          <div class="left"> 
            <%= text_field_tag 'jot[location]', nil, :class => "add_own_location no-float", :id => "field-to-location", :autocomplete => :off %>
          </div>
          <div class="right">
            <p class="add_location_info">type an area or use google maps coordinate to add location to your jot</p>
          </div>
        </div>
      </div>

    </div>

    <div id="jot-input-location-list">
      
    </div>

    <!-- div class="up_media_loc">
      <div class="loc_style own_jot">
        <a class="own_location" href=""><img alt="" src="assets/own-location.png"></a>
        <span class="location_info">
          <a class="tittle_location" href="">Party's Groove</a>
          <input type="text" class="no_margin_left image_upload_input" style="display: none;">
          <span class="road_location">Jl. Warung Buncit 09A,</span>
          <span class="no_padding_top country_location">Jakarta Selatan, Indonesia</span>
        </span>
        <a class="close_img_path" href="" style="">x</a>
      </div>

      <div class="loc_style own_jot">
        <a class="own_location" href=""><img alt="" src="assets/own-location.png"></a>
        <span class="location_info">
          <a class="tittle_location" href="">Party's Groove</a>
          <input type="text" class="no_margin_left image_upload_input" style="display: none;">
          <span class="road_location">Jl. Warung Buncit 09A,</span>
          <span class="no_padding_top country_location">Jakarta Selatan, Indonesia</span>
        </span>
        <a class="close_img_path" href="" style="">x</a>
      </div>
    </div -->

  </div>
</script>