<div class="top_button">
    <a href="#" class="search_icon" id="r-search-tab">
      <span class="img_1"></span>
      <span class="search_text">Search</span>
      <span class="img_2"></span>
    </a>
    <a href="#" class="jot_icon" id="r-jot-tab">
      <span class="img_1"></span>
      <span class="jot_text">Jot</span>
      <span class="img_2"></span>
    </a>
    <a href="#" class="sign_up" id="signUp">
      Sign up or Login
    </a>
    <div class="clear"></div>
  </div>
  <div class="search jot-search-content">
    <input type="text" placeholder="Search everything" id="jot-search-field" value=""/>
    <input type="submit" value="" id="gray_search" />
    <!-- SEARCH PEOPLE AUTO COMPLETE BOX -->

    <div class="people_result_dropdwn" style="display:none" id="r-people-result-dropdwn">
      <div class="result_dropdwn_top">
        <span>People</span>
      </div>
      <div class="result_dropdwn_content">
        <ul>
          <li>
            <a href="#" class="r-people-result-dropdwn-item">
              <span class="dropdwn_content_photo">
                <img src="/assets/ava-farrukh.png" alt="" />
              </span>
              <span class="dropdwn_content_text"><strong>Far</strong>rukh</span>
            </a>
          </li>
          <li>
            <a href="#" class="r-people-result-dropdwn-item">
              <span class="dropdwn_content_photo">
                <img src="/assets/ava-farter.png" alt="" />
              </span>
              <span class="dropdwn_content_text"><strong>Far</strong>ter</span>
            </a>
          </li>
          <li>
            <a href="#" class="r-people-result-dropdwn-item">
              <span class="dropdwn_content_photo">
                <img src="/assets/ava-farah.png" alt="" />
              </span>
              <span class="dropdwn_content_text">FAntameRah</span>
            </a>
          </li>
        </ul>
      </div>
      <a href="" class="result_dropdwn_middle">
        More People Result
      </a>
      <div class="result_dropdwn_bottom">
        <form action="">
          <div>
            <label for="auto_comp">turn off auto-complete</label>
            <input type="checkbox" name="auto-complete" id="auto_comp" />
          </div>
        </form>
      </div>
      <div class="clear"></div>
    </div>

    <!-- END OF SEARCH PEOPLE AUTO COMPLETE BOX -->
    <div class="clear"></div>
  </div>

  <!-- SEARCH PEOPLE AUTO COMPLETE BOX -->
  <div class="people_search_result" id="r-people-search-result" style="display:none">
    <div class="people_search_header">
      <ul>
        <li>
          <a href="" class="people_notactive">
            <span class="people_notactive_icon">&nbsp;</span>
            <span class="notactive_text">People</span>
          </a>
          <a href=""  class="people_active">
            <span class="people_active_icon">&nbsp;</span>
            <span class="active_text">People</span>
          </a>
        </li>
        <li>
          <span class="people_dot_separator">&nbsp;</span>
        </li>
        <li>
          <a href="" class="search_notactive">
            <span class="search_notactive_icon">&nbsp;</span>
            <span class="notactive_text">Search @Far</span>
          </a>
          <a href=""  class="search_active">
            <span class="search_active_icon">&nbsp;</span>
            <span class="active_text">Search @Far</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="people_search_middle">
      <ul>
        <li>
          <a href="" class="notactive_by_name">
            <span class="notactive_by_name_icon">&nbsp;</span>
            <span class="search_middle_notactive_text">by name</span>
          </a>
          <a href="" class="active_by_name">
            <span class="active_by_name_icon">&nbsp;</span>
            <span class="search_middle_active_text">by name</span>
          </a>
        </li>
        <li>
          <a href="" class="notactive_by_kudos">
            <span class="notactive_by_kudos_icon">&nbsp;</span>
            <span class="search_middle_notactive_text">by kudos</span>
          </a>
          <a href="" class="active_by_kudos">
            <span class="active_by_kudos_icon">&nbsp;</span>
            <span class="search_middle_active_text">by kudos</span>
          </a>
        </li>
        <li>
          <a href="" class="notactive_by_location">
            <span class="notactive_by_location_icon">&nbsp;</span>
            <span class="search_middle_notactive_text">by location</span>
          </a>
          <a href="" class="active_by_location">
            <span class="active_by_location_icon">&nbsp;</span>
            <span class="search_middle_active_text">by location</span>
          </a>
        </li>
        <li>
          <a href="" class="notactive_by_tags">
            <span class="notactive_by_tags_icon">&nbsp;</span>
            <span class="search_middle_notactive_text">by tags</span>
          </a>
          <a href="" class="active_by_tags">
            <span class="active_by_tags_icon">&nbsp;</span>
            <span class="search_middle_active_text">by tags</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="people_search_content">
      <ul>
        <li>
          <span class="first_badge">97</span>
          <div class="people_content_left">
            <img src="/assets/propic_1.png" alt="" />
            <div class="people_action_icon">
              <div class="people_message">
                <a href="">&nbsp;</a>
              </div>
              <div class="people_write">
                <a href="">&nbsp;</a>
              </div>
              <div class="people_view">
                <a href="">&nbsp;</a>
              </div>
            </div>
          </div>
          <div class="people_content_right">
            <div class="people_content_top">
              <div class="content_top_left_side">
                <a href="">Peggybunny</a>
                <span>Jakarta, Indonesia</span>
              </div>
              <div class="content_top_right_side">
                <span>Peggy Marinceu</span>
                <p>Blogger, public relations, community development, and yet still single!</p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="people_content_bottom">
              <div class="content_bottom_left_side">
                <a href="">120 Jots</a>
              </div>
              <div class="content_bottom_right_side">
                <ul>
                  <li class="li_serach_style">
                    <span class="button_tagText">Random</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li class="li_serach_style">
                    <span class="button_tagText">Beautiful</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li class="li_serach_style">
                    <span class="button_tagText">Random</span>
                    <span class="not_activeSearch"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <span class="second_badge">72</span>
          <div class="people_content_left">
            <img src="/assets/propic_2.png" alt="" />
            <div class="people_action_icon">
              <div class="people_message">
                <a href="">&nbsp;</a>
              </div>
              <div class="people_write">
                <a href="">&nbsp;</a>
              </div>
              <div class="people_view">
                <a href="">&nbsp;</a>
              </div>
            </div>
          </div>
          <div class="people_content_right">
            <div class="people_content_top">
              <div class="content_top_left_side">
                <a href="">ep</a>
                <span>Jakarta, Indonesia</span>
              </div>
              <div class="content_top_right_side">
                <span>Erlan Primansyah</span>
                <p>Creative innovator. CEO of Creative Minds Jakarta</p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="people_content_bottom">
              <div class="content_bottom_left_side">
                <a href="">120 Jots</a>
              </div>
              <div class="content_bottom_right_side">
                <ul>
                  <li class="li_serach_style">
                    <span class="button_tagText">Random</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li class="li_serach_style">
                    <span class="button_tagText">Beautiful</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li class="li_serach_style">
                    <span class="button_tagText">Random</span>
                    <span class="not_activeSearch"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <span class="third_badge">49</span>
          <div class="people_content_left">
            <img src="/assets/propic_3.png" alt="" />
            <div class="people_action_icon">
              <div class="people_message">
                <a href="">&nbsp;</a>
              </div>
              <div class="people_write">
                <a href="">&nbsp;</a>
              </div>
              <div class="people_view">
                <a href="">&nbsp;</a>
              </div>
            </div>
          </div>
          <div class="people_content_right">
            <div class="people_content_top">
              <div class="content_top_left_side">
                <a href="">FAntameRAH</a>
                <span>Cimahi 12 Bandung, Indonesia</span>
              </div>
              <div class="content_top_right_side">
                <span>Farah Wiratanuningrat</span>
                <p>
                  Fun fearless female, I'm an old broken down piece of meat and I'm alone....
                  and I deserve to be all alone, I just don't want you to hate me
                </p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="people_content_bottom">
              <div class="content_bottom_left_side">
                <a href="">120 Jots</a>
              </div>
              <div class="content_bottom_right_side">
                <ul>
                  <li class="li_serach_style">
                    <span class="button_tagText">Random</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li class="li_serach_style">
                    <span class="button_tagText">Beautiful</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li class="li_serach_style">
                    <span class="button_tagText">Random</span>
                    <span class="not_activeSearch"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <span class="third_badge">46</span>
          <div class="people_content_left">
            <img src="/assets/propic_4.png" alt="" />
            <div class="people_action_icon">
              <div class="people_message">
                <a href="">&nbsp;</a>
              </div>
              <div class="people_write">
                <a href="">&nbsp;</a>
              </div>
              <div class="people_view">
                <a href="">&nbsp;</a>
              </div>
            </div>
          </div>
          <div class="people_content_right">
            <div class="people_content_top">
              <div class="content_top_left_side">
                <a href="">ThatDudeFrom Hell</a>
                <span>Oslo, norway</span>
              </div>
              <div class="content_top_right_side">
                <span>Marlon Brando</span>
                <p>I have a unique knowledge of this prison facility. I was formerly a guest here.</p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="people_content_bottom">
              <div class="content_bottom_left_side">
                <a href="">120 Jots</a>
              </div>
              <div class="content_bottom_right_side">
                <ul>
                  <li class="li_serach_style">
                    <span class="button_tagText">Random</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li class="li_serach_style">
                    <span class="button_tagText">Beautiful</span>
                    <span class="not_activeSearch"></span>
                  </li>
                  <li class="li_serach_style">
                    <span class="button_tagText">Random</span>
                    <span class="not_activeSearch"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </li>
      </ul>

    </div>


    <div class="clear"></div>
  </div>

  <!-- END OF SEARCH PEOPLE AUTO COMPLETE BOX -->

  <!-- JOT POSTING -->
  <div class="jot_search search jot-tab-content" style="display:none">
    <input type="text" value="Tags, places, users, search from them here!"/>
    <input type="submit" value="" class="jot_button"/>
    <div class="clear"></div>
  </div>

  <div class="jot_buttons_path jot-tab-content" style="display:none">
    <div class="left">
      <ul>
        <li>
          <a href="" class="write_more_but jot_buttons_color">
            <span class="jot_write_icon">&nbsp;</span>
            <span class="jot_button_text">Write more</span>
          </a>
          <a href="" class="jot_hover jot_buttons_color">
            <span class="jot_write_icon">&nbsp;</span>
            <span class="jot_button_text">Write more</span>
          </a>
          <a href="" class="jot_click jot_click_active jot_buttons_color">
            <span class="jot_write_icon">&nbsp;</span>
            <span class="jot_button_text">Write more</span>
          </a>
        </li>
        <li>
          <a href="" class="clip_but jot_but jot_buttons_color">
            <span class="jot_clip_icon">&nbsp;</span>
            <span class="jot_button_text">Clip</span>
          </a>
          <a href="" class="clip_but jot_hover jot_buttons_color">
            <span class="jot_clip_icon">&nbsp;</span>
            <span class="jot_button_text">Clip</span>
          </a>
          <a href="" class="clip_but jot_click jot_click_active jot_buttons_color">
            <span class="jot_clip_icon">&nbsp;</span>
            <span class="jot_button_text">Clip</span>
          </a>
        </li>
        <li>
          <a href="" class="jot_but loc_but jot_buttons_color">
            <span class="jot_location_icon">&nbsp;</span>
            <span class="jot_button_text">Location</span>
          </a>
          <a href="" class="jot_hover jot_buttons_color">
            <span class="jot_location_icon">&nbsp;</span>
            <span class="jot_button_text">Location</span>
          </a>
          <a href="" class="jot_click jot_click_active jot_buttons_color">
            <span class="jot_location_icon">&nbsp;</span>
            <span class="jot_button_text">Location</span>
          </a>
        </li>
        <li>
          <a href="" class="jot_but tags_but jot_buttons_color">
            <span class="jot_tags_icon">&nbsp;</span>
            <span class="jot_button_text">Tags</span>
          </a>
          <a href="" class="jot_hover jot_buttons_color">
            <span class="jot_tags_icon">&nbsp;</span>
            <span class="jot_button_text">Tags</span>
          </a>
          <a href="" class="jot_click jot_click_active jot_buttons_color">
            <span class="jot_tags_icon">&nbsp;</span>
            <span class="jot_button_text">Tags</span>
          </a>
        </li>
        <li>
          <a href="" class="jot_buttons_color jot_facebook">
            <span class="jot_fb_icon">&nbsp;</span>
          </a>
          <a href="" class="jot_hover jot_buttons_color jot_facebook">
            <span class="jot_fb_icon">&nbsp;</span>
          </a>
        </li>
        <li>
          <a href="" class="jot_buttons_color no_margin_right">
            <span class="jot_twitter_icon">&nbsp;</span>
          </a>
          <a href="" class="jot_hover jot_buttons_color no_margin_right">
            <span class="jot_twitter_icon">&nbsp;</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="jot_button_right">
      <span class="jot_count">140</span>
      <a href="" class="jot_down_arrow">&nbsp;</a>
    </div>
  </div>
  <form action="">
    <div class="jot_mode_hide">
      <div class="jot_more_content">
        <div class="more_content_top">
          <span class="add_more_icon">&nbsp;</span>
          <span class="add_more_text">Add more content</span>
        </div>
        <div class="more_content_bottom">
          <textarea cols="" rows=""></textarea>
          <span class="more_content_count jot_count">512</span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="jot_upload_media">
        <div class="upload_media_top">
          <span class="upload_media">&nbsp;</span>
          <span class="add_more_text">Upload Media or Add URL</span>
          <a href="" class="attach_more_things">Attach more things</a>
        </div>
        <div class="upload_media_bottom">
          <form action="">
            <div>
              <div class="submit_upload_media">
                <input type="text" />
                <input type="submit" value="Clip"/>
              </div>
              <div class="submit_upload_media">
                <img alt="" src="/assets/loading-avatar.png" class="avatar_loading"/>
                <span class="up_img_info">Attaching pretty.jpg..</span>
              </div>
              <div class="image_upload_path_style">
                <div class="image_upload_path">
                  <img alt="" src="/assets/img-up.png" class="attach_image" />
                  <span class="left">
                    <a href="" class="img_tittle">pretty.jpg</a>
                    <input type="text" class="image_upload_input" />
                    <br class="clear" />
                    <span class="img_resolution">original size 1068 x 1600</span>
                  </span>
                  <a href="" class="close_img_path">x</a>
                </div>
                <div class="want_delete_popup">
                  <div class="want_delete_white">
                    <p>Do you want to delete this?</p>
                    <span class="ok_no_button">
                      <a href="" class="but_ok_up">Ok</a>
                      <a href="" class="no_button">No</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="clear"></div>
      </div>
      <div class="jot_add_location">
        <div class="add_location_top">
          <span class="add_location_media">&nbsp;</span>
          <span class="add_more_text">Add location</span>
          <a href="" class="attach_more_location">Attach more location</a>
        </div>
        <div class="up_media_top">
          <div class="upload_media_bottom">
            <form action="">
              <div>
                <input type="text" value="Jakarta" class="add_own_location"/>
                <input type="submit" value="Insert"/>
              </div>
            </form>
            <div class="no_margin_left map_area">
              <ul>
                <li>
                  <a href="" class="map_location">
                    <span class="left">
                      <img src="/assets/first-map.png" alt="" />
                    </span>
                    <span class="place">
                      <span>&nbsp;</span>
                      <span>Jakarta Capital Region,</span>
                      <span>Indonesia</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="" class="map_location">
                    <span class="left">
                      <img src="/assets/second-map.png" alt="" />
                    </span>
                    <span class="place">
                      <span>Jakarta,</span>
                      <span>Jakarta Capital Region,</span>
                      <span>Indonesia</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="right">
            <p class="add_location_info">type an area or use google maps coordinate to add location to your jot</p>
          </div>
        </div>
        <div class="up_media_loc">
          <div class="loc_style own_jot">
            <a href="" class="own_location"><img src="/assets/own-location.png" alt="" /></a>
            <span class="location_info">
              <a href="" class="tittle_location">Party's Groove</a>
              <input type="text" class="no_margin_left image_upload_input" />
              <span class="road_location">Jl. Warung Buncit 09A,</span>
              <span class="no_padding_top country_location">Jakarta Selatan, Indonesia</span>
            </span>
            <a href="" class="close_img_path">x</a>
          </div>
          <div class="want_delete_popup">
            <div class="want_delete_white">
              <p>Do you want to delete this?</p>
              <span class="ok_no_button">
                <a href="" class="but_ok_up">Ok</a>
                <a href="" class="no_button">No</a>
              </span>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="jot_tags_post">
        <div class="jot_top_tags">
          <span class="top_tags_style jot_tags_icon">&nbsp;</span>
          <span class="top_tags_text">Tags of this post</span>
        </div>
        <div class="jot_middle_tags">
          <ul>
            <li class="Lev_1">
              <span class="active_choiceTexts choice_text">MusicVid</span>
              <span class="jot_middle_tags_active"></span>
            </li>
            <li class="Lev_1">
              <span class="active_choiceTexts choice_text">8Bit</span>
              <span class="jot_middle_tags_active"></span>
            </li>
            <li class="Lev_1 no_padding_right">
              <span class="active_choiceTexts choice_text">Cartoon</span>
              <span class="jot_middle_tags_active"></span>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="jot_bottom_tags"></div>
        <div class="clear"></div>
      </div>
      <input type="submit" class="jot_green_bg" value="Jot" />
      <div class="clear"></div>
    </div>
  </form>
  <!-- JOT POSTING -->

  <!-- START OF SIGN IN CONTENT -->
  <div class="login_content main_content" id="main-content">
    <div class="login_content">
      <div class="left">
        <div class="left">
          <div class="box_signin">
            <h2>Login to start experience jotky</h2>
            <form action="" class="form_signin">
              <div class="form_login">
                <div class="username">
                  <label for="user">Username</label>
                  <input type="text" id="user" />
                  <div class="clear"></div>
                </div>
                <div class="password">
                  <label for="pass">Password</label>
                  <input type="password" id="pass" />
                  <div class="clear"></div>
                </div>
                <div class="remember_login">
                  <div class="left">
                    <input type="checkbox" value="Remember" checked="checked" /><p class="checkbox">Remember me on this computer</p>
                  </div>
                  <div class="right">
                    <a href="" class="forgot_password">forgot password?</a>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="login_button">
                  <input type="submit" value="Login" />
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </div>
            </form>
          </div>
          <div class="box_signinBottom">
            <div class="login_with">
              <p>or login with?</p>
              <a href=<%= facebook_omniauth_path %> class="FB"></a>
              <a href="" class="twitter"></a>
            </div>
          </div>
        </div>
        <div class="login_separator">
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="right">
        <div class="login_path">
          <span class="text">create a Jotky account</span>
          <a href="javascript:void(0)" class="signup_button" id="link-to-registration">Sign Up</a>
          <span class="discover">and discover everything!</span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- END OF SIGN IN CONTENT -->

  <!-- START OF SIGN UP CONTENT -->
  <!-- div class="signUp_content main_content" id="r-signup-content">
    <div class="opening_text">
      <p class="line_one">Create your</p>
      <p class="line_two">Jotky Account</p>
    </div>
    <form>
      <table class="box_registration">
        <tbody>
          <tr class="reg_username">
            <td class="label_registration">
              <label for="reg_user">Username</label>
              <input type="text" id="reg_user" />
            </td>
            <td id="alert_username" class="alert_registration">
              <p class="default_text" id="ins_username">we appreciate a catchy name</p>
              <p class="error empty hidden" id="ins_username_empty">you cannot leave this empty</p>
              <p class="error taken hidden" id="ins_username_taken">username is taken :(</p>
              <p class="accepted hidden" id="ins_username_accepted">username is available :)</p>
            </td>
          </tr>
          <tr class="reg_realname">
            <td class="label_registration">
              <label for="reg_name">Real name</label>
              <input type="text" id="reg_name" />
            </td>
            <td id="alert_realname" class="alert_registration">
              <p class="default_text" id="ins_realname">phoneys will be arrested! nah, kidding :P</p>
              <p class="error empty hidden" id="ins_realname_empty">what's your name, again?</p>
            </td>
          </tr>
          <tr class="reg_email">
            <td class="label_registration">
              <label for="reg_email">Email</label>
              <input type="text" id="reg_email" />
            </td>
            <td class="alert_registration" id="alert_email">
              <p class="default_text" id="ins_email">your email address, please</p>
              <p class="error empty hidden" id="ins_email_error">seems your email's not a valid address or you haven't filled it</p>
              <p class="accepted hidden" id="ins_email_accepted">we will send confirmation right away!</p>
            </td>
          </tr>
          <tr class="reg_password">
            <td class="label_registration">
              <label for="reg_pass">Password</label>
              <input type="password" id="reg_pass" />
            </td>
            <td class="alert_registration" id="alert_password">
              <p class="default_text" id="ins_password">must be 6 characters or more please use a good one</p>
              <p class="error empty hidden" id="ins_password_empty">you lost your key somewhere?</p>
              <p class="error hidden" id="ins_password_error">this is not what we expected</p>
              <p class="accepted hidden" id="ins_password_accepted">good to go! :)</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom_registrationPath">
        <div class="RegRemember_login">
          <input type="checkbox" value="Remember" checked="checked"/><p class="checkbox">Remember me on this computer</p>
        </div>
        <br class="clear"/>
        <div class="termsOf_service">
          <p>before we proceed to the next phase please read our <a href="">terms of service</a></p>
        </div>
        <div class="reg_agreedButton green_button" id="registration">
          <input type="submit" value="Yes, agreed, create my account" />
        </div>
        <div class="clear"></div>
      </div>
    </form>
    <div class="clear"></div>
  </div -->
  <!-- END OF SIGN UP CONTENT -->

  <!-- START OF JOT RESULT -->
  <div class="jot_result middle_content" id="r-jot-result" style="display:none">
    <div>
      <div class="search_result_heading">
        <span class="blue_stream">&nbsp;</span>
        <h2>Stream</h2>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="search_result_container">
      <div class="own_people_post">
        <div class="own_header_result header_result">
          <img src="/assets/avatar.png" alt=""/>
          <span>MetroFX</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="thumbs_ups">
              <a href="#"><span class="thumbs_up"></span>0</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>0</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="own-down-sign down-sign"></div>
        <div class="clear"></div>
      </div>
      <div class="container-result">
        <h2>5th time, showing a location for let say, party</h2>
        <p class="hour">seconds ago - <a href="#" class="link-to-detail-jot">detail</a></p>
        <div class="post">
          <span class="post-icon">&nbsp;</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            set do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim add minim veniams.
          </p>
        </div>
        <div class="own_jot post">
          <span class="post_location">&nbsp;</span>
          <a href="" class="own_location"><img src="/assets/own-location.png" alt="" /></a>
          <span class="location_info">
            <span class="display_block tittle_location">Party's Groove</span>
            <span class="road_location">Jl. Warung Buncit 09A,</span>
            <span class="no_padding_top country_location">Jakarta Selatan, Indonesia</span>
          </span>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="search_result_container">
      <div class="own_people_post">
        <div class="own_header_result header_result">
          <img src="/assets/avatar.png" alt=""/>
          <span>MetroFX</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="thumbs_ups">
              <a href="#"><span class="thumbs_up"></span>0</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>0</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="own-down-sign down-sign"></div>
        <div class="clear"></div>
      </div>
      <div class="container-result">
        <h2>4th time, another <a href="" class="orange_color_tags">#goodthings</a> and <a href="" class="orange_color_tags">#awesomenesclip</a>, and adding more post and then attach picture</h2>
        <p class="hour">seconds ago</p>
        <div class="post">
          <span class="post-icon">&nbsp;</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            set do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim add minim veniams.
          </p>
        </div>
        <div class="own_jot post">
          <span class="attach_img_icon">&nbsp;</span>
          <span class="own_upload_media"><img src="/assets/img-own-timeline.png" alt="" /></span>
          <span class="location_info">
            <span class="own_up_picture">&nbsp;</span>
            <span class="image_file_name">messss.jpg</span>
            <span class="image_url">http://tinypic.com/wjfi2i</span>
            <span class="uploaded_by">uploaded via lockerz</span>
          </span>
        </div>
        <div class="tag-incognito">
          <span class="own_tags_icon">&nbsp;</span>
          <div class="button_tag">
            <ul>
              <li>
                <span class="button_tagText">Random</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Beautiful</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="search_result_container">
      <div class="own_people_post">
        <div class="own_header_result header_result">
          <img src="/assets/avatar.png" alt=""/>
          <span>MetroFX</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="thumbs_ups">
              <a href="#"><span class="thumbs_up"></span>0</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>0</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="own-down-sign down-sign"></div>
        <div class="clear"></div>
      </div>
      <div class="container-result">
        <h2>third time, another <a href="" class="orange_color_tags">#random</a> and <a href="" class="orange_color_tags">#beautiful</a> thing, and adding more post</h2>
        <p class="hour">seconds ago</p>
        <div class="post">
          <span class="post-icon">&nbsp;</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            set do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim add minim veniams.
          </p>
        </div>
        <div class="tag-incognito">
          <span class="own_tags_icon">&nbsp;</span>
          <div class="button_tag">
            <ul>
              <li>
                <span class="button_tagText">Random</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Beautiful</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="search_result_container">
      <div class="own_people_post">
        <div class="own_header_result header_result">
          <img src="/assets/avatar.png" alt=""/>
          <span>MetroFX</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="thumbs_ups">
              <a href="#"><span class="thumbs_up"></span>0</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>0</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="own-down-sign down-sign"></div>
        <div class="clear"></div>
      </div>
      <div class="container-result">
        <h2>This is my second time, this was a <a href="" class="orange_color_tags">#random</a> thing</h2>
        <p class="hour">3 minutes ago</p>
        <div class="tag-incognito">
          <span class="own_tags_icon">&nbsp;</span>
          <div class="button_tag">
            <ul>
              <li>
                <span class="button_tagText">Random</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="search_result_container">
      <div class="own_people_post">
        <div class="own_header_result header_result">
          <img src="/assets/avatar.png" alt=""/>
          <span>MetroFX</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="thumbs_ups">
              <a href="#"><span class="thumbs_up"></span>0</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>0</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="own-down-sign down-sign"></div>
        <div class="clear"></div>
      </div>
      <div class="container-result">
        <h2>his is my first Jot, i wrote it without tags</h2>
        <p class="hour">1 hour ago</p>
      </div>
      <div class="clear"></div>
    </div>


    <div class="clear"></div>
  </div>
  <!-- END OF JOT RESULT -->

  <!-- JOT DETAIL -->
  <div class="timeline_jot_path middle_content" id="r-jot-result-detail" style="display:none">
    <div class="jot_detail_head">
      <div class="jot_detail_left">
        <img src="/assets/jot-detai-ava.png" alt="" />
        <div class="jot_detail_right">
          <span class="jot_detail_nickname">MetroFx</span>
          <span class="jot_detail_realname">Eko Prasetyo</span>
        </div>
      </div>
    </div>
    <div class="jot_detail_upper_pannel_path">
      <div class="jot_detail_upper_pannel">
        <div class="upper_pannel_hov">&nbsp;</div>
        <div>
          <ul class="upper_pannel">
            <li>
              <a href="" class="upper_dots"></a>
            </li>
            <li class="no_margin_top thumbs_separator">&nbsp;</li>
            <li>
              <a href="" class="upper_rss_active"></a>
            </li>
            <li>
              <a href="" class="upper_fb_active"></a>
            </li>
            <li>
              <a href="" class="upper_twitter_active"></a>
            </li>
            <li class="no_margin_top thumbs_separator">&nbsp;</li>
            <li>
              <a href="" class="upper_thumbup_active"></a>
              <span class="upper_thumb_counts">75435</span>
            </li>
            <li>
              <a href="" class="upper_thumbdown_active"></a>
              <span class="upper_thumb_counts">65</span>
            </li>
            <li class="no_margin_top thumbs_separator">&nbsp;</li>
            <li>
              <a href="" class="upper_rejot_active"></a>
            </li>
            <li>
              <a href="" class="upper_delete_active"></a>
            </li>
          </ul>
          <div class="lower_delete_popup want_delete_popup">
            <div class="want_delete_white">
              <p>Do you want to delete this?</p>
              <span class="ok_no_button">
                <a href="" class="line_height_timeline but_ok_up">Ok</a>
                <a href="" class="line_height_timeline no_button">No</a>
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="jot_detail_date_info">
        <div class="left">
          <span>Saturday, May 07, 2011 via twitter</span>
        </div>
        <div class="right">
          <span>faved by <strong>35 peoples</strong> rejoted by you and <strong>45 others</strong></span>
        </div>
      </div>
      <div class="upper_body">
        <p>
          In accordance with our Comment Policy, we encourage comments that are on topic,
          relevant and to-the-point. We will remove comments that include profanity, personal attacks,
          racial slurs, threats of violence, or other inappropriate material that violates our Terms and Conditions,
          and personal attacks, racial slurs, threats of violence, or other inappropriate material that violates our Terms and Conditions, and.
        </p>
      </div>
      <div class="upper_attachment_path">
        <div class="upper_attachment_top">
          <div class="upper_attachment_left">
            <a href=""><img src="/assets/jot-detail-attachment.png" alt="" /></a>
            <div class="upper_video_info">
              <div class="left">
                <span class="upper_video_icon"></span>
              </div>
              <div class="left">
                <span class="upper_video_title">Insane Truck Driver</span>
                <span class="upper_video_uploaded">via youtube</span>
              </div>
            </div>
          </div>
        </div>
        <div class="upper_attachment_bottom">
          <div class="upper_video_info">
            <div class="left">
              <span class="upper_video_icon"></span>
            </div>
            <div class="left">
              <span class="upper_video_title">Insane Truck Driver</span>
            </div>
          </div>
          <div class="upper_width_left">
            <span class="upper_video_description">Short animated 8-bt movie made by art st...</span>
            <a href="" class="upper_video_url">http://youtube.com/watch?wjfi2i</a>
            <span class="no_padding_left upper_video_uploaded">via youtube</span>
          </div>
        </div>
      </div>
      <div class="upper_button_tags button_tag">
        <ul>
          <li>
            <span class="button_tagText">MusicVid</span>
            <span class="not_activeSearch"></span>
          </li>
          <li>
            <span class="button_tagText">8-Bit</span>
            <span class="not_activeSearch"></span>
          </li>
          <li>
            <span class="button_tagText">Cartoon</span>
            <span class="not_activeSearch"></span>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="jot_detail_lower_pannel_path">
      <div class="jot_detail_lower_pannel">
        <div>
          <ul class="lower_pannel">
            <li>
              <a href="" class="upper_dots"></a>
            </li>
            <li class="no_margin_top thumbs_separator">&nbsp;</li>
            <li>
              <span class="no_padding_left lower_pannel_text_active">RSS</span>
            </li>
            <li>
              <a href="" class="upper_rss_active"></a>
            </li>
            <li class="no_margin_top thumbs_separator">&nbsp;</li>
            <li>
              <span class="no_padding_left lower_pannel_text_active">Share:</span>
            </li>
            <li>
              <a href="" class="upper_fb_active"></a>
            </li>
            <li>
              <a href="" class="upper_twitter_active"></a>
            </li>
            <li class="no_margin_top thumbs_separator">&nbsp;</li>
            <li>
              <a href="" class="upper_thumbup_active"></a>
              <span class="lower_pannel_text_active">75435</span>
            </li>
            <li>
              <a href="" class="upper_thumbdown_active"></a>
              <span class="lower_pannel_text_active">65</span>
            </li>
            <li class="no_margin_top thumbs_separator">&nbsp;</li>
            <li>
              <a href="" class="upper_rejot_active"></a>
            </li>
            <li>
              <a href="" class="upper_delete_active"></a>
            </li>
          </ul>
          <div class="lower_delete_popup want_delete_popup">
            <div class="want_delete_white">
              <p>Do you want to delete this?</p>
              <span class="ok_no_button">
                <a href="" class="line_height_timeline but_ok_up">Ok</a>
                <a href="" class="line_height_timeline no_button">No</a>
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="lower_comment comment">
        <a href="" class="tag_incognito_icon">&nbsp;</a>
        <div class="comment_line">
          <div class="left">
            <ul>
              <li class="left"><a href="#">16 comments</a></li>
              <li class="left">.</li>
              <li class="left"><a href="#">View all</a></li>
            </ul>
          </div>
          <div class="right">
            <ul>
              <li class="left"><a href="#">Newest</a></li>
              <li class="left">.</li>
              <li class="no_margin_right left"><a href="">oldest</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="comment-content" id="scrollbar1">
          <div class="scrollbar">
            <div class="track">
              <div class="thumb">
                <div class="end">
                </div>
              </div>
            </div>
          </div>
          <div class="viewport">
            <div class="overview">
              <ul>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/abdu-avatar.png" alt="" />
                  </div>
                  <div class="content-text">
                    <span class="name">Abduzeedo</span>
                    <div class="right time">
                      3 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p>man, please re-up the link. seems it was deleted :( </p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/avatar-metrofx.png" alt="" />
                  </div>
                  <div class="content-text">
                    <span class="name">Metrofx</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p><a href="#" class="mail">@Abduzeedo </a>re-uploaded, enjoy! :)</p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/avata-calichan.png" alt="" />
                  </div>
                  <div class="content-text">
                    <span class="name">Calichan2</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/avatar-metrofx.png" alt="avatar" />
                  </div>
                  <div class="content-text">
                    <span class="name">Metrofx</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/avatar-metrofx.png" alt="avatar" />
                  </div>
                  <div class="content-text">
                    <span class="name">Metrofx</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/abdu-avatar.png" alt="avatar" />
                  </div>
                  <div class="content-text">
                    <span class="name">Abduzeedo</span><span class="right time">5 seconds ago</span>
                    <div class="clear"></div>
                    <p>it works! thanks! :D </p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/avata-calichan.png" alt="" />
                  </div>
                  <div class="content-text">
                    <span class="name">Calichan2</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/avatar-metrofx.png" alt="avatar" />
                  </div>
                  <div class="content-text">
                    <span class="name">Metrofx</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/abdu-avatar.png" alt="" />
                  </div>
                  <div class="content-text">
                    <span class="name">Abduzeedo</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p>man, please re-up the link. seems it was deleted :( </p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/avatar-metrofx.png" alt="" />
                  </div>
                  <div class="content-text">
                    <span class="name">Metrofx</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p><a href="#" class="mail">@Abduzeedo </a>re-uploaded, enjoy! :)</p>
                  </div>
                  <div class="clear"></div>
                </li>
                <li class="people_comments">
                  <div class="left">
                    <img src="/assets/avata-calichan.png" alt="" />
                  </div>
                  <div class="content-text">
                    <span class="name">Calichan2</span>
                    <div class="right time">
                      2 hour ago
                      <div class="action_menu_hide">
                        <ul>
                          <li>
                            <a href="" class="comment_hide">
                              <label>hide</label>
                              <span class="hide_icon">&nbsp;</span>
                            </a>
                          </li>
                          <li>
                            <a href="" class="comment_flag">
                              <label>flag as</label>
                              <span class="flag_icon">&nbsp;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="comment_down_arrow">&nbsp;</a>
                    </div>
                    <div class="clear"></div>
                    <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                  </div>
                  <div class="clear"></div>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="comment_pagiantion">
          <ul>
            <li class="activePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
          </ul>
          <div class="clear"></div>
        </div>

        <div class="photo_reply_comment">
          <div class="photo_reply_message">
            <span class="reply_text">Reply</span>
            <span class="input_replay">
              <span class="reply_message_photo no_margin_left messages_left_path">
                <img src="/assets/avatar-metrofx.png" alt="" />
              </span>
              <span class="textarea_reply">
                <span class="triangle_inbox">&nbsp;</span>
                <textarea rows="" cols="" class="textarea_comment"></textarea>
              </span>
            </span>
            <a href="" class="replay_button">Reply</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>


      <div class="clear"></div>
    </div>


    <div class="clear"></div>
  </div>

  <!-- END OF JOT DETAIL -->

  <!-- START OF SEARCH CONTENT -->
  <div class="search_tab main_content">
    <div class="search_box">
      <div class="breadcrumb_search">
        <ul>
          <li>
            <a href="">Music</a>
            <span>&gt;</span>
            <a href="">Jazz</a>
            <span>&gt;</span>
            <a href="">Fourplay</a>
          </li>
        </ul>
      </div>
      <div class="search_results">
        <div class="left_arrow"></div>
        <div class="search_resultsContent">
          <div class="level_1">
            <ul>
              <li class="Lev_1">
                <span class="choice_text">Fourplay</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_1">
                <span class="choice_text">Incognito</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_1 no_padding_right">
                <span class="choice_text">Chaka</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="level_2">
            <ul>
              <li class="Lev_2">
                <span class="choice_text">Pop</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Jazz</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Rock</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2">
                <span class="choice_text">Dance</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_2 no_padding_right">
                <span class="choice_text">Folks</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="level_3">
            <ul>
              <li class="Lev_3">
                <span class="choice_text">Food</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Sports</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Fashion</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3">
                <span class="choice_text">Music</span>
                <span class="not_active"></span>
              </li>
              <li class="Lev_3 no_padding_right">
                <span class="choice_text">Books</span>
                <span class="not_active"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right_arrow"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- END OF SEARCH CONTENT -->

  <!-- START MAIN CONTENT OF SEARCH RESULT NOT LOGGED -->

  <div class="searchResult_content_logged middle_content">
    <div>
      <div class="search_result_heading">
        <span class="blue_magnifier">&nbsp;</span>
        <h2>Search Result for "...> Fourplay"</h2>
        <div class="clear"></div>
      </div>
      <div class="search_result_subheading">
        <ul class="result_filter">
          <li>
            <a href="#" class="local_links active">Most Popular</a>
          </li>
          <li class="dot_separator local_links active">.</li>
          <li>Latest</li>
        </ul>
        <ul class="result_location">
          <li>showing results in</li>
          <li>
            <a href="#" class="local_links">Jakarta,</a>
            <a href="#" class="local_links">Indonesia</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="search_result_container">
      <div class="people_post">
        <div class="people_postNonLogin">
          <a href="">Login or sign up to rate, comments, and fav this jot</a>
          <div class="down-signNonLogin"></div>
          <div class="clear"></div>
        </div>
        <div class="header_result">
          <img src="/assets/avatar.png" alt=""/>
          <span>MetroFX</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="thumbs_ups">
              <a href="#"><span class="thumbs_up"></span>7777</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>65</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="refresh">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="down-sign"></div>
        <div class="clear"></div>
      </div>

      <div class="container-result">
        <h2><strong>Fourplay</strong> live in concert!</h2>
        <p class="hour">5 hours ago</p>
        <div class="post">
          <span class="post-icon">&nbsp;</span>
          <p>
            In accordance with our <strong>Jazz </strong>Comment <strong>music </strong>Policy, we encourage
            comments that are on topic, relevant and to-the-point. We will
            remove comments that include profanity, <strong>Jazz </strong>personal attacks,
            racial slurs, threats of violence, or other inappropriate
            material that violates our Terms and Conditions, and......
          </p>
          <a href="#" class="more">More</a>
        </div>

        <div class="attach">
          <span>&nbsp;</span>
          <div>
            <img src="/assets/video.jpg" alt="video"/>
          </div>
          <div id="video-detail">
            <span class="multimedia">&nbsp;</span>
            <p class="video-title">Fourplay feat. Chaka Khan "Between The Sheets" (live)</p>
            <div class="clear"></div>
            <p class="video-detail">A <strong>Jazz </strong>Evening of Fourplay <br/>(Bob James, Lee Ritenour, </p>
            <a href="#" class="link">http://youtube.com/watch?wjfi2i</a>
            <div class="clear"></div>
            <p class="uploaded">uploaded via youtube</p>
          </div>
        </div>

        <div class="tag-incognito">
          <span class="tag-incognito-icon">&nbsp;</span>
          <div class="button_tag">
            <ul>
              <li>
                <span class="button_tagText">Fourplay</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Jazz</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Concert</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>

        <div class="comment">
          <span class="comment-icon">&nbsp;</span>
          <div class="comment_line">
            <div class="left">
              <ul>
                <li class="left"><a href="#">16 comments</a></li>
                <li class="left">.</li>
                <li class="left"><a href="#">View all</a></li>
              </ul>
            </div>
            <div class="right">
              <ul>

                <li class="left"><a href="#">Newest</a></li>
                <li class="left">.</li>
                <li class="no_margin_right left"><a href="">oldest</a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
          <div class="comment-content" id="scrollbar1">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
              <div class="overview">
                <ul>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/abdu-avatar.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Abduzeedo</span><span class="right time">3 hour ago</span>
                      <div class="clear"></div>
                      <p>man, please re-up the link. seems it was deleted :( </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">2 hour ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@Abduzeedo </a>re-uploaded, enjoy! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avata-calichan.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Calichan2</span><span class="right time">45 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/abdu-avatar.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Abduzeedo</span><span class="right time">5 seconds ago</span>
                      <div class="clear"></div>
                      <p>it works! thanks! :D </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avata-calichan.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Calichan2</span><span class="right time">45 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/abdu-avatar.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Abduzeedo</span><span class="right time">3 hour ago</span>
                      <div class="clear"></div>
                      <p>man, please re-up the link. seems it was deleted :( </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">2 hour ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@Abduzeedo </a>re-uploaded, enjoy! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avata-calichan.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Calichan2</span><span class="right time">45 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/abdu-avatar.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Abduzeedo</span><span class="right time">5 seconds ago</span>
                      <div class="clear"></div>
                      <p>it works! thanks! :D </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avata-calichan.png" alt="" />
                    </div>
                    <div class="content-text">
                      <span class="name">Calichan2</span><span class="right time">45 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@MetroFx </a>Sweet, this is just what i needed, thanks!	</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <li class="people_comments">
                    <div class="left">
                      <img src="/assets/avatar-metrofx.png" alt="avatar" />
                    </div>
                    <div class="content-text">
                      <span class="name">Metrofx</span><span class="right time">14 minutes ago</span>
                      <div class="clear"></div>
                      <p><a href="#" class="mail">@calichan2 </a>u welcome! :)</p>
                    </div>
                    <div class="clear"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="comment_pagiantion">
          <ul>
            <li class="activePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
            <li class="nonActivePage_comments"></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>


    <div class="search_result_container">
      <div class="people_post">
        <div class="header_result">
          <img src="/assets/jazzy-avatar.png" alt=""/>
          <span>JazzyJazz</span>
          <ul>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li>
              <a href="#"><span class="thumbs_up"></span>734</a>
            </li>
            <li class="no_padding_left">
              <a href="#"><span class="thumbs_down"></span>2</a>
            </li>
            <li class="thumbs_separator">
              &nbsp;
            </li>
            <li class="refresh">
              &nbsp;
            </li>
            <li class="cross">
              &nbsp;
            </li>
          </ul>
        </div>
        <div class="down-sign"></div>
        <div class="clear"></div>
      </div>
      <div class="container-result">
        <h2>Best<strong>Jazz</strong> related tags, collect them!</h2>
        <p class="hour">6 hours ago</p>
        <div class="tag-incognito">
          <span class="tag-incognito-icon">&nbsp;</span>

          <div class="button_tag">
            <ul>
              <li>
                <span class="button_tagText">Fourplay</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Jazz</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Music</span>
                <span class="not_activeSearch"></span>
              </li>
              <li>
                <span class="button_tagText">Incognito</span>
                <span class="not_activeSearch"></span>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>

        <div class="comment">
          <span class="comment-icon">&nbsp;</span>
          <div class="comment_line">
            <div class="left">
              <ul>
                <li class="left"><a href="#">16 comments</a></li>
                <li class="left">.</li>
                <li class="left"><a href="#">View all</a></li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="more_ResultContent">
      <input type="submit" value="More Result" />
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- END OF MAIN CONTENT OF SEARCH RESULT NOT LOGGED -->
 <div class="welcome_content middle_content main-content-listing" id="r-welcome-content">
    <div class="welcome">
      <p>Welcome to</p>
    </div>
    <div class="big_logo"></div>
    <div class="main-text">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
      </p>
      <span></span>
      <div class="clear"></div>
    </div>
    <div class="green_button">
      <input type="submit" value="see our hottest contents" />
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

