
<div class="parent_empty_profile main_content" id="r-profile-content" style="display:none;">

  <div class="empty_profile">
      <div class="about">
        <div class="about_top content">
          <div class="left">
            <a href="#change_avatar" class="about_avatar" rel="facebox">&nbsp;</a>
          </div>
          <div class="left">
            <div class="big_badge">0</div>
            <div class="nickname_realname">
              <span class="nickname">MetroFx</span>
              <br class="clear" />
              <span class="realname">Eko Prasetyo</span>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="about_link">
          <span>0 Tags</span>
          <span class="no_margin_left">0 Jots</span>
          <span class="no_margin_left">0 Follows</span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="change_tab">
        <div class="bio">
          <div class="bio_tag">
            <span>Bio</span>
            <a href="" class="empty_bio_text">click to edit your bio </a>
            <form action="" class="empty_bio_field">
              <div>
                <input type="text" value="write your short bio here max 512 character" />
                <input type="submit" class="but_save_popup" value="save" />
              </div>
            </form>
          </div>
          <div class="url_tag">
            <span>URL</span>
            <a href="" class="empty_url_text">click to edit your URL</a>
            <form action="" class="empty_url">
              <div>
                <input type="text" value="your URL" class="empty_url_field" />
                <input type="submit" class="but_save_popup" value="Save" />
              </div>
            </form>
          </div>
          <div class="clear"></div>
        </div>
        <div class="location">
          <div class="left">
            <span class="location_text">Location</span>
            <a href="" class="empty_location_text">click to edit your location</a>
            <form action="" class="empty_location_field">
              <div>
                <input type="text" value="Jakarta" id="location_field" class="active_text_field empty_url_field" />
                <input type="submit" class="but_save_popup" value="save" />
              </div>
            </form>
            <span class="map_area">
              <ul>
                <li>
                  <a href="" class="map_location">
                    <span class="left">
                      <img src="/assets/first-map.png" alt="" />
                    </span>
                    <span class="place">
                      <span>&nbsp;</span>
                      <span>Jakarta Capital Region,</span>
                      <span>Indonesia</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="" class="map_location">
                    <span class="left">
                      <img src="/assets/second-map.png" alt="" />
                    </span>
                    <span class="place">
                      <span>Jakarta,</span>
                      <span>Jakarta Capital Region,</span>
                      <span>Indonesia</span>
                    </span>
                  </a>
                </li>
              </ul>
            </span>
          </div>
          <div class="right">
            <div class="map">&nbsp;</div>
          </div>
          <span></span>
          <div class="clear"></div>
        </div>
      </div>


      <!-- ACCOUNT SETTING -->

      <div class="acc_setting_tab main_content">
        <div class="account_setting">
          <div class="email_password">
            <div class="left_path">
              <span class="email_text">Email</span>
              <div class="email_path">
                <form action="" class="">
                  <div>
                    <input type="text" value="metrofx@gmail.com" />
                    <input type="submit" class="but_save_popup" value="Save" />
                  </div>
                </form>
                <span class="email_information">your email wil not shown to public and it will be used for password recovery</span>
              </div>
            </div>
            <div class="right_path">
              <span class="pass_text">Password</span>
              <div class="pass_path">
                <form action="" class="">
                  <div>
                    <input type="password" value="12345678" class="no_margin_top" />
                    <input type="password" value="12345678" />
                    <input type="submit" class="save_style but_save_popup" value="Save" />
                  </div>
                </form>
                <span class="pass_information">6-30 characters</span>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="privacy">
            <span class="privacy_text">Privacy</span>
            <form action="">
              <div>
                <table class="account_setting_table">
                  <tbody>
                    <tr>
                      <td class="td_tittle">&nbsp;</td>
                      <td class="td_radio">Everyone</td>
                      <td class="td_radio">Friends</td>
                      <td class="td_radio">Hide</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="border_bottom_table td_tittle">Jots</td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="jots" value="jots_1" checked="checked"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="jots" value="jots_1"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="jots" value="jots_1"/></td>
                      <td class="border_bottom_table">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="border_bottom_table td_tittle">Show Location</td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="show_location" value="jots_1" checked="checked"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="show_location" value="jots_1"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="show_location" value="jots_1"/></td>
                      <td class="border_bottom_table">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="border_bottom_table td_tittle">Show Kudos</td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="show_kudos" value="jots_1" checked="checked"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="show_kudos" value="jots_1"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="show_kudos" value="jots_1"/></td>
                      <td class="border_bottom_table">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="td_tittle">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td>
                        <input type="submit" value="Save" class="save_style but_save_popup" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="privacy">
            <span class="privacy_text">Deafult Post</span>
            <form action="">
              <div>
                <table class="account_setting_table">
                  <tbody>
                    <tr>
                      <td class="td_tittle">&nbsp;</td>
                      <td class="td_radio">Always</td>
                      <td class="td_radio">Ask</td>
                      <td class="td_radio">Never</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="border_bottom_table td_tittle">Auto-shorten URL</td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1" checked="checked"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1"/></td>
                      <td class="border_bottom_table">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="border_bottom_table td_tittle">Auto Complete</td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1" checked="checked"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1"/></td>
                      <td class="border_bottom_table">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="td_tittle">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td>
                        <input type="submit" value="Save" class="save_style but_save_popup" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="privacy">
            <span class="privacy_text">Connections and Cross-posts<a class="connect_cross" href="">(what is this?)</a></span>
            <form action="">
              <div>
                <table class="account_setting_table">
                  <tbody>
                    <tr>
                      <td class="td_tittle">&nbsp;</td>
                      <td class="td_radio">Allow</td>
                      <td class="td_radio">Deny</td>
                      <td class="td_radio">Always Cross-post</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="border_bottom_table td_tittle">
                        <a class="no_margin_left no_margin_right FB" href="">&nbsp;</a>
                        <span class="name_cross_post">Eko Prasetyo</span>
                        <a class="unlink" href="">(Unlink)</a>
                      </td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1" checked="checked"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="shorten" value="jots_1"/></td>
                      <td class="border_bottom_table td_radio"><input type="checkbox" name="shorten" value="jots_1"/></td>
                      <td class="border_bottom_table"><a class="no_padding_left connect_cross" href="">add more account</a></td>
                    </tr>
                    <tr>
                      <td class="border_bottom_table td_tittle">
                        <a class="no_margin_left twitter" href=""></a>
                        <span class="name_cross_post">@metrofx</span>
                        <a class="unlink" href="">(Unlink)</a>
                      </td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1"  checked="checked"/></td>
                      <td class="border_bottom_table td_radio"><input type="radio" name="complete" value="jots_1"/></td>
                      <td class="border_bottom_table td_radio"><input type="checkbox" name="complete" value="jots_1"/></td>
                      <td class="border_bottom_table"><a class="no_padding_left connect_cross" href="">add more account</a></td>
                    </tr>
                    <tr>
                      <td class="td_tittle">
                        <p class="p_information">Your setting are saved</p>
                      </td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td>
                        <input type="submit" value="Save" class="save_style but_save_popup" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="privacy">
            <span class="privacy_text">Media Upload</span>
            <form action="">
              <div>
                <table class="account_setting_table">
                  <tbody>
                    <tr>
                      <td colspan="5"><p class="border_bottom_table p_information">If you choose to upload media from your computer, they will be stored either on your Facebook account, your youtube account, or both*</p></td>
                    </tr>
                    <tr>
                      <td class="td_tittle">
                        <span class="upload_videos">&nbsp;</span>
                        <span class="upload_videos_text">Upload videos to</span>
                      </td>
                      <td class="td_radio">
                        <label for="first_fb_label" class="fb_label"></label>
                        <input type="checkbox" name="complete" id="first_fb_label"/>
                      </td>
                      <td class="td_radio">
                        <label for="youtube_label" class="youtube_label"></label>
                        <input type="checkbox" name="complete" id="youtube_label"/>
                      </td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="td_tittle">
                        <span class="upload_picture">&nbsp;</span>
                        <span class="upload_videos_text">Upload pictures to</span>
                      </td>
                      <td class="td_radio">
                        <label for="second_fb_label" class="fb_label"></label>
                        <input type="checkbox" name="complete" id="second_fb_label"/>
                      </td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="td_tittle">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td class="td_radio">&nbsp;</td>
                      <td>
                        <input type="submit" value="Save" class="save_style but_save_popup" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>


      <!-- END OF ACCOUNT SETTING -->

      <div class="clear"></div>
    </div>
    <div class="profile_bottom_links">
      <a href="/profile" class="pub_profile_link">
        <span class="prof_icon">&nbsp;</span>
        <span class="prof_text">View your public profile</span>
      </a>
      <a href="" class="account_setting_link">
        <span class="acc_icon">&nbsp;</span>
        <span class="acc_text">Go to account setting</span>
      </a>
    </div>
    <div class="clear"></div>
  </div>
