<div class="right_content grid_3">
  <div class="my_nest">
    <div class="portlet_tosca">
      <div class="left">
        <span class="img_left">&nbsp;</span>
        <span class="bg_1Text">My Nest</span>
      </div>
      <div class="right">
        <span class="plus_icon">&nbsp;</span>
        <span class="img_right">&nbsp;</span>
      </div>
    </div>
    <div class="portlet_dark">
      <span class="count_nest">All 5/50</span>
      <span class="on_off">&nbsp;</span>
    </div>
    <ul class="nest_dd portlet_startSearch">
      <li onclick="showhide('movies_child_category')">
        <span class="parent_nest_dd">
          <span class="first_category img_2">&nbsp;</span>
          <span class="category_name">Movies</span>
          <span class="down_arrow">&nbsp;</span>
        </span>
        <span id="movies_child_category">
          <ul>
            <li>
              <a href class="other_child">Theatre Schedule</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li>
              <a href class="other_child">New Movies</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li>
              <a href class="other_child">Top 20 Indo Movies</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li><a href class="other_child">Indie Movies</a></li>
          </ul>
        </span>
      </li>
      <li onclick="showhide('tech_child_category')">
        <span class="parent_nest_dd">
          <span class="first_category img_2">&nbsp;</span>
          <span class="category_name">Tech Blog</span>
          <span class="down_arrow">&nbsp;</span>
        </span>
        <span id="tech_child_category">
          <ul>
            <li>
              <a href class="other_child">Child 1</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li>
              <a href class="other_child">Child 2</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li>
              <a href class="other_child">Child 3</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li><a href class="other_child">Child 4</a></li>
          </ul>
        </span>
      </li>
      <li onclick="showhide('graphic_child_category')">
        <span class="parent_nest_dd">
          <span class="first_category img_2">&nbsp;</span>
          <span class="category_name">Graphic Design</span>
          <span class="down_arrow">&nbsp;</span>
        </span>
        <span id="graphic_child_category">
          <ul>
            <li>
              <a href class="other_child">Child 1</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li>
              <a href class="other_child">Child 2</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li>
              <a href class="other_child">Child 3</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li><a href class="other_child">Child 4</a></li>
          </ul>
        </span>
      </li>
      <li onclick="showhide('fhm_child_category')">
        <span class="parent_nest_dd">
          <span class="first_category img_2">&nbsp;</span>
          <span class="category_name">FHM</span>
          <span class="down_arrow">&nbsp;</span>
        </span>
        <span id="fhm_child_category">
          <ul>
            <li>
              <a href class="other_child">Child 1</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li>
              <a href class="other_child">Child 2</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li>
              <a href class="other_child">Child 3</a>
              <span class="border_bottom">&nbsp;</span>
            </li>
            <li><a href class="other_child">Child 4</a></li>
          </ul>
        </span>
      </li>
    </ul>
    <div class="portlet_darkBottom"></div>
    <div class="clear"></div>
  </div>
  <div class="tell_jotky">
    <div class="portlet_BlueSky">
      <div class="left">
        <p>Tell everyone about</p>
        <span class="white_logo"></span>
      </div>
      <div class="right">
        <span class="smart_object"></span>
      </div>
      <div class="clear"></div>
    </div>
    <span class="arrow"></span>
    <div class="portlet_fb">
      <div class="top"></div>
      <div class="middle">
        <!-- FACEBOOK -->
      </div>
      <div class="bottom"></div>
      <div class="clear"></div>
    </div>
    <div class="portlet_twitter">
      <div class="top"></div>
      <div class="middle">
        <!-- a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script -->
      </div>
      <div class="bottom"></div>
      <div class="clear"></div>
    </div>
    <div class="portlet_google">
      <div class="top"></div>
      <div class="middle">
        <!-- GOOGLE PLUS -->
      </div>
      <div class="bottom"></div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="favorites_logged">
    <div class="portlet_favorites_logged_first">
      <span class="star_logged">&nbsp;</span>
      <span class="fav_text_logged">Favorites</span>
    </div>
    <div class="portlet_favValue_logged">
      <span class="title_fav_logged">Metallica</span>
      <span class="text_logged">check out our new videos featuring limpbizkit dem...</span>
      <a href="" class="fav_hover">
        <span class="fav_hover_icon">&nbsp;</span>
        <span class="go_to_jot_text">Go to Jot</span>
      </a>
    </div>
    <div class="portlet_favValue_logged">
      <span class="title_fav_logged">Madonna</span>
      <span class="text_logged">all of them must pay for this mess > http://bit.ly/...</span>
      <a href="" class="fav_hover">
        <span class="fav_hover_icon">&nbsp;</span>
        <span class="go_to_jot_text">Go to Jot</span>
      </a>
    </div>
    <div class="portlet_favValue_logged">
      <span class="title_fav_logged">TechCrunch</span>
      <span class="text_logged">new iPad glitch http://bit.ly/12asfa</span>
      <a href="" class="fav_hover">
        <span class="fav_hover_icon">&nbsp;</span>
        <span class="go_to_jot_text">Go to Jot</span>
      </a>
    </div>
    <div class="portlet_favValue_logged">
      <span class="title_fav_logged">Metrofx</span>
      <span class="text_logged">simple yet complicated</span>
      <a href="" class="fav_hover">
        <span class="fav_hover_icon">&nbsp;</span>
        <span class="go_to_jot_text">Go to Jot</span>
      </a>
    </div>
    <div class="portlet_favBottom_last">
      <a href="">see all faved</a>
    </div>
    <div class="clear"></div>
  </div>
</div>