<%= render 'shared/magicbox/search' %>
<div class=" middle_content clearfix">
            <div class="about_tab_header">
              <ul>
                <li class="about_head_left"><a href="" class="about_active about_default">About</a></li>
                <li class="about_head_middle"><a href="" class="what_jotky_default">What Jotky Can DO For You?</a></li>
                <li class="about_head_right"><a href="" class="faq_default">FAQ</a></li>
              </ul>
            </div>
            <div class="about_jotky">
              <div class="about_tab_body">
                <div class="about_tab_body_top">
                  <span class="about_jotky_tittle">About Jotky</span>
                  <span class="about_jotky_icon"></span>
                  <div class="clear"></div>
                </div>
                <div class="about_tab_body_middle">
                  <p class="first_paragraph">
                    Jotky is a crowd contributed social network platform that allows you to share interesting topic.
                    Choose what topic to follow and its content filtering and cloud tag system will find you relevant topic only.
                  </p>
                  <p class="second_paragraph">
                    Users contribution called Jots. It can be news, share links or whatever they have in mind.
                    Complete your Jots by defining them with tags and attaching links or media.
                    Published Jots are added to stream and you can go to the main page to view and filter it based on your preference.
                    Notes and users are geo-located. News stream will be displayed in real time and post notes can be shared via integrated websites.
                    Users can also chat in its forum, share, download, upload files, videos, audio, pictures, as well as producing relevant search results that is most important to them.
                  </p>
                  <p class="third_paragraph">
                    Users contribution called Jots. It can be news, share links or whatever they have in mind.
                    Complete your Jots by defining them with tags and attaching links or media. Published Jots are added to stream and you can go to the main page to view and filter it based on your preference.
                    Notes and users are geo-located. News stream will be displayed in real time and post notes can be shared via integrated websites.
                    Users can also chat in its forum, share, download, upload files, videos, audio, pictures, as well as producing relevant search results that is most important to them.
                  </p>
                </div>
                <div class="clear"></div>
              </div>
              <div class="about_tab_body_bottom">
                <ul>
                  <li><a href="" class="what_jotky_bottom_link">What jotky can do for you</a></li>
                  <li><a href="" class="faq_bottom_link">FAQ</a></li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- END OF ABOUT JOTKY -->

          <!-- WHAT JOTKY CAN DO FOR YOU -->

          <div class="what_jotky" style="display:none">
            <div class="what_jotky_tittle">What Jotky Can Do For You</div>
            <div class="about_jotky_body">
              <div class="what_jotky_icon">&nbsp;</div>
              <div class="what_jotky_text">
                <p class="no_margin_top">
                  Jotky is a versatile way to connect with friends, share photos, music, videos, thoughts, news, documents, search for,
                  upload and download and anything at all you'd like to share with your world.
                </p>
                <p>
                  Whether it's to share pictures or videos, connect with long long lost school mates,
                  updating your status (Jotky lets users updates statuses on all integrated social networking platforms),
                  letting friends know where you are, loking for a telephone number for the nearest pizza parlor to just
                  Jotting down what you have in mind. Every aspect of a social networking platform and more is made accessible through Jotky.
                </p>
                <p>
                  Forum 2.0 function will also allow users to post, view and sell items,
                  define them with tags for other users to search for, basing results on keywords and geographical locatios.
                  Making Jotky's forum efficient for buying and selling. As well as its basic forum 2.0 functions.
                </p>
                <p>
                  Homepage is a great place to go to find out what we're up to, as well as how to use the site.
                  You can also <a href="">watch Jotky tutorial video</a> series to learn how to use our basic features.
                </p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="about_tab_body_bottom">
              <ul>
                <li><a href="" class="about_bottom_link">About</a></li>
                <li><a href="" class="faq_bottom_link">FAQ</a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>

          <!-- END OF WHAT JOTKY CAN DO FOR YOU -->

          <!-- FAQ -->

          <div class="faq_jotky" style="display:none">
            <div class="faq_top">
              <span class="faq_top_text">
                FAQ
              </span>
              <span class="right">
                <input type="text" value="Search questions"/>
                <span class="magnifier_faq">&nbsp;</span>
              </span>
            </div>
            <div class="faq_content">
              <ul>
                <li>
                  <a href="" class="faq_content_toggle">How does Jotky work?</a>

                  <p class="faq_description">
                    <span>
                      What Jotky really wants is to bring you updates on the information you want.
                      <br class="clear" />
                      To do so, it allows you to search its content and to subscribe to the topics or people you like.
                    </span>
                    <span>
                      Once you have saved a search, every time a jot matching it is posted, it will appear in your time line.
                    </span>
                    <span>
                      Of course that wouldn't be much fun if you couldn't post your own jots, so feel free to tell us what you have in mind!
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">How do I use Jotky?</a>
                  <p class="faq_description">
                    <span>
                      The best way to use Jotky is to start searching for people or topics you like.
                      <br class="clear" />
                      Use the search box and the tag cloud to get jots about what your'e looking for, follow people, save your searches and watch your updates comming in!
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">Why are tags so important?</a>
                  <p class="faq_description">
                    <span>
                      Tags are important because they define the content of your jot.
                      <br class="clear" />
                      Let's say you jot about Chicago. Are you talking about the band, or the city?
                      <br class="clear" />
                      Tagging your jot with #chicago #band #music will tell other jotters you're into the band.
                    </span>
                    <span>
                      Want to express an opinion? Try #chicago #band #rocks, and your favorite band will be tagged along everything that rocks.
                    </span>
                    <span>
                      Want to ask something? Try #chicago #band #question, and jotters who have the answer may give it to you.
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">What is the Drop Bar?</a>
                  <p class="faq_description">
                    <span>
                      The drop bar is where you drop things. Anything.
                      <br class="clear" />
                      Click on it once and you'll see what can be drag-and-dropped.
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">How does the search work?</a>
                  <p class="faq_description">
                    <span>
                      Searching on Jotky is all about tags.
                      <br class="clear" />
                      While many other websites would search their content for keywords and expression, we took the decision to go full semantics.
                    </span>
                    <span>
                      You will be searching for tags.
                    </span>
                    <span>
                      When you enter a word in the search box, Jotky will retrieve all the jots associated to this tag, and show you the related tags in the form of a tag cloud.
                    </span>
                    <span>
                      Try a search with `Jotky` without the quote marks) and see what happens!
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">How do I navigate in the tag cloud?</a>
                  <p class="faq_description">
                    <span>
                      When you search for a tag, the most popular related tags are shown in the tag cloud.
                    </span>
                    <span>
                      You can click on the text of a tag to start a fresh search with this tag, or on the + sign to add a tag to your search.
                      <br class="clear" />
                      As you are adding tags to your search, you will see they appear in the history on the top of the tag cloud. You can go back to your previous searches by clicking on an item in that history.
                    </span>
                    <span>
                      Example: apple > iphone > police
                    </span>
                    <span>
                      Clicking on `iphone` will start a search for `apple` and `iphone`.
                      <br class="clear" />
                      Clicking on `apple` will start a search for `apple`.
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">How do I save my search results?</a>
                  <p class="faq_description">
                    <span>
                      After you have searched for a tag, you just have to click on `save this search`.
                      <br class="clear" />
                      Give your search a name so it feels unique, and look for it in your nest.
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">How do I use the nest?</a>
                  <p class="faq_description">
                    <span>
                      The nest is where your saved searches dwell. You can classify them in custom categories.
                      <br class="clear" />
                      Just click the + icon to create a new group and drag your existing searches into it.
                    </span>
                    <span>
                      Clicking on a group's name will show you its content, as well as a on/off switch.
                    </span>
                    <span>
                      When switched on, new jots corresponding to the searches in your group will automatically show in your time line.
                    </span>
                    <span>
                      When you click on a search, it's result will show in your timeline.
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">How do I favorite the Jot?</a>
                  <p class="faq_description">
                    <span>
                      Just drag it into your favorite box!
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">How do I add tags to a jot?</a>
                  <p class="faq_description">
                    <span>
                      In the title field, just type in a hashtag (like #Zombies) and press space, it will automatically be added to the jot. You can remove them by clicking on the - sign.
                    </span>
                    <span>
                      You can also click the + sign at the bottom of the jot box
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">How can I post to Twitter and Facebook?</a>
                  <p class="faq_description">
                    <span>
                      Just add !t or !fb (or both!) at the beginning of your post. If you haven't connected Jotky to Twitter or Facebook yet, you will be asked to do so, just follow the guide and you'll get there!
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">What is popularity for?</a>
                  <p class="faq_description">
                   <span>
                      When you search for information, you can use filters so the jots with the higher popularity will show up first. They are the jots that will most likely give you what you need.
                      <br class="clear" />
                      The same goes for jotters, by the way.
                    </span>
                    <span>
                      See popularity as a grade for relevance. Spammers have never been popular, and a jot with real bits of spam in it can be sent to scrape the bottom of your timeline.
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
                <li>
                  <a href="" class="faq_content_toggle">What defines popularity for jots or users?</a>
                  <p class="faq_description">
                    <span>
                      You have probably already remarked that you can bring thumbs  up or down to jots, and that you can also delete them.
                      <br class="clear" />
                      These are what influences their popularity, thus their author's popularity.
                    </span>
                  </p>
                  <span class="clear"></span>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>

          <!-- END OF FAQ -->
