<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Jotky - Landing Page (Not Logged)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <%= stylesheet_link_tag 'application' %>
    <!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="/assets/ie7.css" />
	<![endif]-->
    <!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="/assets/ie8.css" />
	<![endif]-->
    <!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="/assets/ie9.css" />
	<![endif]-->
  </head>
  <body>
    <div class="wraper container_16">
      <div class="header">
        <div class="left_header grid_6">
          <a href="landing_page.html" class="main_logo">Jotky</a>
        </div>
        <div class="middle_header grid_7">
          <a href="" class="home">
            <span>&nbsp;</span>
            Home
          </a>
          <a href="" class="hot_stream">
            <span></span>
            Hot Stream
          </a>
          <a href="" class="help">
            <span>&nbsp;</span>
            Help
          </a>
          <div class="clear"></div>
        </div>
        <div class="right_header grid_3">
          <a href="" class="sign_in">
            <span>&nbsp;</span>
            Sign In
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="container">
        <div>
          <%= yield %>
          <%= render 'shared/sidebar' %>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="footer">
      <div class="footer-menu container_16">
        <ul>
          <li class="grid_2"><a href="">About</a></li>
          <li class="grid_2"><a href="">Contact</a></li>
          <li class="grid_2"><a href="">Status</a></li>
          <li class="grid_2"><a href="">Goodies</a></li>
          <li class="grid_2"><a href="">API</a></li>
          <li class="grid_2"><a href="">Help</a></li>
          <li class="grid_2"><a href="">Terms</a></li>
          <li class="grid_2"><a href="">Privacy</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>